In [1]:
import numpy as np
import pandas as pd
import os.path
%matplotlib inline

In [2]:
base = '../data/'
fdata = 'unimelb_training.csv'
ftest = 'training2_ids.csv'
fhold = 'testing_ids.csv'
df = pd.read_csv(os.path.join(base,fdata), low_memory=False)
id_test = pd.read_csv(os.path.join(base,ftest), low_memory=False)
id_hold = pd.read_csv(os.path.join(base,fhold), low_memory=False)

In [3]:
df.head()

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
id_hold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 1 columns):
ids    518 non-null int64
dtypes: int64(1)
memory usage: 4.1 KB

In [5]:
id_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557 entries, 0 to 1556
Data columns (total 1 columns):
ids    1557 non-null int64
dtypes: int64(1)
memory usage: 12.2 KB

In [6]:
test = df.loc[df['Grant.Application.ID'].isin(id_test.values.flatten()),:]
hold = df.loc[df['Grant.Application.ID'].isin(id_hold.values.flatten()),:]

## check if any of the hold ids is in the test ids

In [7]:
(id_test.isin(id_hold.values.flatten())).sum()

ids    0
dtype: int64

In [8]:
# create train data
train = df.copy()
drop_ids = np.r_[id_test.values.flatten(),id_hold.values.flatten()]
print(train.shape)
train.drop(
    train['Grant.Application.ID'].isin(drop_ids),axis=0).shape
# print(train.shape)

(8708, 252)

(8706, 252)

In [73]:
print('size of test data: {}\nsize of hold data: {}\nsize of train data: {}'.format((test.shape),hold.shape, train.shape))

size of test data: (1557, 252)
size of hold data: (518, 252)
size of train data: (8706, 252)

In [82]:
train.drop(
    train['Grant.Application.ID'].isin(drop_ids),axis=1,inplace=True)

ValueError: labels [False False False ...,  True  True  True] not contained in axis

In [58]:
drop_ids = np.r_[id_test.values.flatten(),id_hold.values.flatten()]

In [59]:
drop_ids.shape

(2075,)

In [81]:

train['Grant.Application.ID'].isin(drop_ids)

2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
        ...
8678     True
8679     True
8680     True
8681     True
8682     True
8683     True
8684     True
8685     True
8686     True
8687     True
8688     True
8689     True
8690     True
8691     True
8692     True
8693     True
8694     True
8695     True
8696     True
8697     True
8698     True
8699     True
8700     True
8701     True
8702     True
8703     True
8704     True
8705     True
8706     True
8707     True
Name: Grant.Application.ID, Length: 8706, dtype: bool

In [9]:
drop_ids

array([6634, 6635, 6636, ..., 8701, 8706, 8707])

In [13]:
train.iloc[[6634, 6635],:]

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
6634,6635,1,34B,30C,A,1/01/08,270208.0,50.0,270899.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6635,6636,1,68D,30B,B,1/01/08,321209.0,75.0,339999.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
train.iloc[drop_ids-1,:]

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
6633,6634,1,75C,10B,A,1/01/08,320899.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6634,6635,1,34B,30C,A,1/01/08,270208.0,50.0,270899.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6635,6636,1,68D,30B,B,1/01/08,321209.0,75.0,339999.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6636,6637,1,4D,20C,A,1/01/08,300501.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6637,6638,0,89A,30B,A,1/01/08,321028.0,50.0,321016.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6638,6639,1,75C,10B,A,1/01/08,320899.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6639,6640,0,269A,30B,C,1/01/08,321202.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6641,6642,1,77A,30B,A,1/01/08,321028.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6642,6643,1,29A,10B,A,1/01/08,321202.0,50.0,321004.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6643,6644,1,32D,30B,D,1/01/08,321023.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6644,6645,1,269A,30B,A,1/01/08,321202.0,50.0,321015.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6645,6646,1,29A,10B,A,1/01/08,321016.0,50.0,320705.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6647,6648,1,226B,30B,A,1/01/08,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6650,6651,1,228D,30B,A,1/01/08,270106.0,60.0,270103.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6651,6652,1,4D,20C,F,1/01/08,320799.0,50.0,321099.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6652,6653,1,40D,10B,C,1/01/08,320702.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6653,6654,1,32D,30B,B,1/01/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6655,6656,1,269A,30B,B,1/01/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6656,6657,1,NaN,NaN,A,1/01/08,280106.0,34.0,280111.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6657,6658,1,4D,10A,E,1/01/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6659,6660,1,172D,30B,A,1/01/08,270106.0,30.0,270201.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6660,6661,1,2B,10A,C,1/01/08,291101.0,50.0,299904.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6662,6663,1,205A,30B,A,1/01/08,321004.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6663,6664,1,32D,30B,C,1/01/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6664,6665,1,2B,10A,E,1/01/08,240401.0,60.0,240402.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6665,6666,1,75C,10B,A,1/01/08,320899.0,25.0,321010.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6667,6668,1,55C,30B,A,1/01/08,321014.0,80.0,321206.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6668,6669,1,75C,10B,A,1/01/08,320899.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6669,6670,1,32D,30B,D,1/01/08,270103.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6671,6672,1,32D,30B,B,1/01/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575,8576,0,4D,10A,NaN,19/11/08,321027.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8579,8580,0,4D,10A,NaN,19/11/08,321003.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8590,8591,0,4D,10A,NaN,19/11/08,321019.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8591,8592,0,4D,10A,NaN,19/11/08,321019.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8592,8593,0,4D,10A,NaN,19/11/08,321013.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8604,8605,1,4D,10A,C,19/11/08,321021.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8614,8615,0,4D,10A,NaN,19/11/08,291503.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8616,8617,1,4D,10A,E,19/11/08,320799.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8622,8623,0,34B,30C,C,20/11/08,320401.0,50.0,320307.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8627,8628,0,357A,30D,NaN,26/11/08,270106.0,50.0,270103.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8632,8633,0,188D,30D,B,27/11/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8634,8635,0,188D,30D,NaN,27/11/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8636,8637,1,225A,30B,A,27/11/08,270703.0,20.0,270708.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8642,8643,1,21A,50A,A,1/12/08,330202.0,40.0,330106.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8644,8645,0,196D,30B,NaN,2/12/08,320307.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8659,8660,1,80D,10B,A,5/12/08,320799.0,50.0,320704.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8660,8661,1,NaN,NaN,NaN,8/12/08,250605.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8663,8664,0,29A,10B,C,9/12/08,321299.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8665,8666,0,40D,30B,A,9/12/08,321015.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8666,8667,0,29A,10B,B,9/12/08,321299.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8670,8671,1,NaN,NaN,A,10/12/08,310101.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8674,8675,0,222B,30C,A,15/12/08,270106.0,50.0,270899.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677,8678,0,29A,20A,D,16/12/08,270201.0,40.0,270103.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8679,8680,0,29A,10B,B,16/12/08,270102.0,10.0,270103.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8681,8682,0,90B,30D,NaN,17/12/08,321004.0,50.0,321003.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8690,8691,0,90B,30D,NaN,19/12/08,321004.0,50.0,321012.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8694,8695,1,21A,50A,A,22/12/08,330103.0,50.0,330301.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,8701,1,21A,50A,A,23/12/08,270107.0,30.0,270304.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8705,8706,0,137A,30B,NaN,24/12/08,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8706,8707,1,21A,50A,A,24/12/08,280210.0,40.0,239901.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
train.iloc[~(drop_ids-1),:].sort_values(by='Grant.Application.ID')

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,1,4D,10A,NaN,19/11/05,321204.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,0,2B,10A,NaN,19/11/05,270708.0,50.0,270203.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,0,28D,30B,A,19/11/05,321405.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,2B,10A,H,19/11/05,260108.0,50.0,260109.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,2B,10A,NaN,19/11/05,270708.0,40.0,270704.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,1,2B,10A,G,19/11/05,230111.0,60.0,230112.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,0,136D,30B,NaN,19/11/05,270603.0,20.0,321003.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,1,4D,10A,NaN,19/11/05,320702.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,0,NaN,NaN,NaN,19/11/05,291599.0,51.0,239901.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,1,2B,10A,NaN,19/11/05,280203.0,40.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,0,100D,10B,NaN,19/11/05,321099.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,0,1A,10A,NaN,19/11/05,270603.0,33.0,321026.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,1,21A,50A,NaN,19/11/05,300903.0,33.0,370499.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,1,2B,10A,F,19/11/05,300508.0,40.0,270201.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,0,24D,30B,A,19/11/05,380103.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,1,148D,30B,A,19/11/05,270103.0,20.0,270106.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,0,12D,30B,NaN,19/11/05,370107.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,0,62B,10B,NaN,19/11/05,321021.0,40.0,321204.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,1,2B,10A,D,19/11/05,291801.0,60.0,291804.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,1,138B,30B,NaN,19/11/05,330305.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,0,NaN,NaN,A,19/11/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,0,NaN,NaN,C,19/11/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,0,NaN,NaN,NaN,19/11/05,270299.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,0,60D,30D,NaN,19/11/05,270603.0,50.0,321004.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,1,2B,10A,B,19/11/05,350201.0,60.0,380108.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,2046,0,164D,10B,G,1/06/06,320599.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2046,2047,1,NaN,NaN,B,1/06/06,280204.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2047,2048,0,65A,30B,NaN,1/06/06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2048,2049,1,163C,10A,A,1/06/06,430201.0,50.0,260114.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,2050,0,65A,30B,NaN,1/06/06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,2051,1,NaN,NaN,A,1/06/06,340207.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2051,2052,1,NaN,NaN,NaN,1/06/06,321004.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2052,2053,0,65A,30B,NaN,1/06/06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2053,2054,0,4D,10A,NaN,1/06/06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2054,2055,0,4D,10A,NaN,1/06/06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2055,2056,1,20D,10B,NaN,1/06/06,321003.0,50.0,321022.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2056,2057,1,NaN,NaN,B,1/06/06,290205.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2057,2058,1,NaN,NaN,NaN,2/06/06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2058,2059,1,149A,30B,B,2/06/06,321204.0,55.0,321208.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2059,2060,1,73A,30B,A,2/06/06,270707.0,75.0,270706.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2060,2061,0,149A,30B,NaN,2/06/06,321208.0,60.0,321204.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2061,2062,1,180D,10B,NaN,2/06/06,321208.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2062,2063,0,180D,10B,NaN,2/06/06,321208.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2063,2064,0,149A,30B,NaN,2/06/06,321204.0,60.0,321208.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2064,2065,1,NaN,NaN,E,2/06/06,321204.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2065,2066,0,149A,30B,NaN,2/06/06,321204.0,60.0,321208.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2066,2067,0,180D,10B,NaN,2/06/06,321208.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2067,2068,1,180D,10B,NaN,2/06/06,321208.0,60.0,321204.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2068,2069,1,NaN,NaN,NaN,2/06/06,321208.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2069,2070,0,149A,30B,NaN,2/06/06,321204.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2070,2071,0,180D,10B,NaN,2/06/06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2071,2072,0,62B,30B,NaN,2/06/06,270801.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2072,2073,1,36D,10A,A,5/06/06,270403.0,50.0,300204.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2073,2074,1,4D,10A,D,5/06/06,270205.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2074,2075,1,13A,10A,NaN,5/06/06,270401.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN