In [94]:
import pandas as pd
df = pd.read_csv('../data/unimelb_training.csv')

/home/diego/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (90,105,119,120,123,124,132,134,135,138,139,147,149,150,153,154,162,164,165,168,169,177,179,183,184,192,194,198,199,207,209,213,214,224,237,239,244) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [95]:
def get_melted(rfcds, id='Grant.Application.ID'):
    rcd1 = rfcds.melt( id_vars=[id,'RFCD.Code.1'], value_vars=['RFCD.Percentage.1']).rename(columns={'RFCD.Code.1': 'RFCD.Code', 'RFCD.Percentage.1' : 'RFCD.Percentage' })
    rcd2 = rfcds.melt( id_vars=[id,'RFCD.Code.2'], value_vars=['RFCD.Percentage.2']).rename(columns={'RFCD.Code.2': 'RFCD.Code', 'RFCD.Percentage.2' : 'RFCD.Percentage' })
    rcd3 = rfcds.melt( id_vars=[id,'RFCD.Code.3'], value_vars=['RFCD.Percentage.3']).rename(columns={'RFCD.Code.3': 'RFCD.Code', 'RFCD.Percentage.3' : 'RFCD.Percentage' })
    rcd4 = rfcds.melt( id_vars=[id,'RFCD.Code.4'], value_vars=['RFCD.Percentage.4']).rename(columns={'RFCD.Code.4': 'RFCD.Code', 'RFCD.Percentage.4' : 'RFCD.Percentage' })
    rdcn = pd.concat([rcd1, rcd2, rcd3, rcd4]).sort_values(by=id)  
    rdmelted = rdcn.loc[rdcn['value'] > 0].reset_index(drop=True)
    return rdmelted

In [96]:
rfcds = pd.concat([df.iloc[:,0],df.iloc[:,6:16]], axis=1)
rdmelted = get_melted(rfcds)
rdmelted.to_csv('../data/rtcd_raw.csv')

In [97]:
df_train = pd.read_csv('../data/train.csv')
df_test  = pd.read_csv('../data/test.csv')

/home/diego/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (120,135,149,150,153,154,164,165,168,169,179,183,184,194,198,199,209,213,214,224,237,239,244) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [98]:
def post_process(df):
    mdf = get_melted(df, id='id')
    mdf['RFCD.Code'] = mdf[['RFCD.Code']].applymap(int)
    mdf['RFCD.Code'] = mdf[['RFCD.Code']].applymap(str)
    mdf = mdf.drop('variable', axis=1)
    mdf = mdf.rename(columns={'value': 'RFCD.Percentage'})
    mdf = mdf.set_index(['id','RFCD.Code']).sort_index()
    return mdf

In [99]:
mdf_train = post_process(df_train)
mdf_train.to_csv('../data/train_rfcd_raw.csv')

In [100]:
mdf_test = post_process(df_train)
mdf_test.to_csv('../data/test_rfcd_raw.csv')

In [101]:
mdf_train

                RFCD.Percentage
id   RFCD.Code
1    280199               100.0
2    280103                30.0
     280106                30.0
     280203                40.0
3    321004                60.0
     321216                40.0
4    270602                50.0
     320602                50.0
5    260500                34.0
     280000                33.0
     290000                33.0
6    321204               100.0
7    270203                30.0
     270401                20.0
     270708                50.0
8    321405               100.0
9    260108                50.0
     260109                50.0
10   270203                30.0
     270704                30.0
     270708                40.0
11   230111                60.0
     230112                40.0
12   270603                20.0
     321003                30.0
     321012                50.0
13   320702               100.0
14   239901                49.0
     291599                51.0
15   280103                30.0
...                         ...
6607 321014                20.0
6608 370107                30.0
     410302                40.0
     420306                30.0
6609 320799               100.0
6610 320403               100.0
6611 320405                50.0
     321010                30.0
     321014                10.0
     321026                10.0
6612 321207                50.0
     321210                50.0
6613 250399                80.0
     250699                20.0
6614 300405                50.0
     300510                50.0
6616 300501               100.0
6619 320702                20.0
     320705                20.0
     321016                60.0
6626 270708               100.0
6628 321019                60.0
     321024                40.0
6629 321017                40.0
     321024                60.0
6630 280213               100.0
6631 290899                50.0
     291899                20.0
     360299                30.0
6633 419901               100.0

[11253 rows x 1 columns]

In [102]:
mdf_test

                RFCD.Percentage
id   RFCD.Code
1    280199               100.0
2    280103                30.0
     280106                30.0
     280203                40.0
3    321004                60.0
     321216                40.0
4    270602                50.0
     320602                50.0
5    260500                34.0
     280000                33.0
     290000                33.0
6    321204               100.0
7    270203                30.0
     270401                20.0
     270708                50.0
8    321405               100.0
9    260108                50.0
     260109                50.0
10   270203                30.0
     270704                30.0
     270708                40.0
11   230111                60.0
     230112                40.0
12   270603                20.0
     321003                30.0
     321012                50.0
13   320702               100.0
14   239901                49.0
     291599                51.0
15   280103                30.0
...                         ...
6607 321014                20.0
6608 370107                30.0
     410302                40.0
     420306                30.0
6609 320799               100.0
6610 320403               100.0
6611 320405                50.0
     321010                30.0
     321014                10.0
     321026                10.0
6612 321207                50.0
     321210                50.0
6613 250399                80.0
     250699                20.0
6614 300405                50.0
     300510                50.0
6616 300501               100.0
6619 320702                20.0
     320705                20.0
     321016                60.0
6626 270708               100.0
6628 321019                60.0
     321024                40.0
6629 321017                40.0
     321024                60.0
6630 280213               100.0
6631 290899                50.0
     291899                20.0
     360299                30.0
6633 419901               100.0

[11253 rows x 1 columns]