In [22]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import keras

In [23]:
df = pd.read_csv(r'../data/train.csv',low_memory=False)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6633 entries, 0 to 6632
Columns: 252 entries, id to Unnamed: 251
dtypes: float64(180), int64(2), object(70)
memory usage: 12.8+ MB

In [25]:
df.tail()

,id,granted,sponsor,grant_category,grant_value,date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
6628,6629,1,5A,30B,A,19/12/07,321024.0,60.0,321017.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6629,6630,1,NaN,NaN,B,20/12/07,280213.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6630,6631,1,223C,20C,D,20/12/07,290899.0,50.0,291899.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6631,6632,1,NaN,NaN,E,21/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6632,6633,1,5A,30B,A,21/12/07,419901.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
persons = pd.concat( [df.iloc[:,0],  df.loc[:,'Person.ID.1':'C.15']], axis = 1)

In [28]:
persons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6633 entries, 0 to 6632
Columns: 226 entries, id to C.15
dtypes: float64(159), int64(1), object(66)
memory usage: 11.4+ MB

In [29]:
persons.head()

,id,Person.ID.1,Role.1,Year.of.Birth.1,Country.of.Birth.1,Home.Language.1,Dept.No..1,Faculty.No..1,With.PHD.1,No..of.Years.in.Uni.at.Time.of.Grant.1,...,Dept.No..15,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15
0,1,40572.0,CHIEF_INVESTIGATOR,1965.0,Asia Pacific,Other,3073.0,31.0,NaN,Less than 0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,9067.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,2538.0,25.0,Yes,more than 15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5967.0,CHIEF_INVESTIGATOR,1955.0,Australia,NaN,2923.0,25.0,Yes,>5 to 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,78782.0,PRINCIPAL_SUPERVISOR,1955.0,Australia,NaN,2678.0,25.0,Yes,>5 to 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,13042.0,CHIEF_INVESTIGATOR,1965.0,Western Europe,NaN,2153.0,19.0,Yes,>5 to 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#we get the unique cols per person
n_persons = 15
n_persons_cols = (len(persons.columns) - 1) // n_persons
for i in range(n_persons):
    for j in range(n_persons_cols):
            k = 1 + (i*n_persons_cols) +j
            print('Person number: ' + str(i))
            print('Column index: ' + str(k))
            print('Column name: ' + persons.columns[k])

Person number: 0
Column index: 1
Column name: Person.ID.1
Person number: 0
Column index: 2
Column name: Role.1
Person number: 0
Column index: 3
Column name: Year.of.Birth.1
Person number: 0
Column index: 4
Column name: Country.of.Birth.1
Person number: 0
Column index: 5
Column name: Home.Language.1
Person number: 0
Column index: 6
Column name: Dept.No..1
Person number: 0
Column index: 7
Column name: Faculty.No..1
Person number: 0
Column index: 8
Column name: With.PHD.1
Person number: 0
Column index: 9
Column name: No..of.Years.in.Uni.at.Time.of.Grant.1
Person number: 0
Column index: 10
Column name: Number.of.Successful.Grant.1
Person number: 0
Column index: 11
Column name: Number.of.Unsuccessful.Grant.1
Person number: 0
Column index: 12
Column name: A..1
Person number: 0
Column index: 13
Column name: A.1
Person number: 0
Column index: 14
Column name: B.1
Person number: 0
Column index: 15
Column name: C.1
Person number: 1
Column index: 16
Column name: Person.ID.2
Person number: 1
Column index: 17
Column name: Role.2
Person number: 1
Column index: 18
Column name: Year.of.Birth.2
Person number: 1
Column index: 19
Column name: Country.of.Birth.2
Person number: 1
Column index: 20
Column name: Home.Language.2
Person number: 1
Column index: 21
Column name: Dept.No..2
Person number: 1
Column index: 22
Column name: Faculty.No..2
Person number: 1
Column index: 23
Column name: With.PHD.2
Person number: 1
Column index: 24
Column name: No..of.Years.in.Uni.at.Time.of.Grant.2
Person number: 1
Column index: 25
Column name: Number.of.Successful.Grant.2
Person number: 1
Column index: 26
Column name: Number.of.Unsuccessful.Grant.2
Person number: 1
Column index: 27
Column name: A..2
Person number: 1
Column index: 28
Column name: A.2
Person number: 1
Column index: 29
Column name: B.2
Person number: 1
Column index: 30
Column name: C.2
Person number: 2
Column index: 31
Column name: Person.ID.3
Person number: 2
Column index: 32
Column name: Role.3
Person number: 2
Column index: 33
Column name: Year.of.Birth.3
Person number: 2
Column index: 34
Column name: Country.of.Birth.3
Person number: 2
Column index: 35
Column name: Home.Language.3
Person number: 2
Column index: 36
Column name: Dept.No..3
Person number: 2
Column index: 37
Column name: Faculty.No..3
Person number: 2
Column index: 38
Column name: With.PHD.3
Person number: 2
Column index: 39
Column name: No..of.Years.in.Uni.at.Time.of.Grant.3
Person number: 2
Column index: 40
Column name: Number.of.Successful.Grant.3
Person number: 2
Column index: 41
Column name: Number.of.Unsuccessful.Grant.3
Person number: 2
Column index: 42
Column name: A..3
Person number: 2
Column index: 43
Column name: A.3
Person number: 2
Column index: 44
Column name: B.3
Person number: 2
Column index: 45
Column name: C.3
Person number: 3
Column index: 46
Column name: Person.ID.4
Person number: 3
Column index: 47
Column name: Role.4
Person number: 3
Column index: 48
Column name: Year.of.Birth.4
Person number: 3
Column index: 49
Column name: Country.of.Birth.4
Person number: 3
Column index: 50
Column name: Home.Language.4
Person number: 3
Column index: 51
Column name: Dept.No..4
Person number: 3
Column index: 52
Column name: Faculty.No..4
Person number: 3
Column index: 53
Column name: With.PHD.4
Person number: 3
Column index: 54
Column name: No..of.Years.in.Uni.at.Time.of.Grant.4
Person number: 3
Column index: 55
Column name: Number.of.Successful.Grant.4
Person number: 3
Column index: 56
Column name: Number.of.Unsuccessful.Grant.4
Person number: 3
Column index: 57
Column name: A..4
Person number: 3
Column index: 58
Column name: A.4
Person number: 3
Column index: 59
Column name: B.4
Person number: 3
Column index: 60
Column name: C.4
Person number: 4
Column index: 61
Column name: Person.ID.5
Person number: 4
Column index: 62
Column name: Role.5
Person number: 4
Column index: 63
Column name: Year.of.Birth.5
Person number: 4
Column index: 64
Column name: Country.of.Birth.5
Person number: 4
Column index: 65
Column name: Home.Language.5
Person number: 4
Column index: 66
Column name: Dept.No..5
Person number: 4
Column index: 67
Column name: Faculty.No..5
Person number: 4
Column index: 68
Column name: With.PHD.5
Person number: 4
Column index: 69
Column name: No..of.Years.in.Uni.at.Time.of.Grant.5
Person number: 4
Column index: 70
Column name: Number.of.Successful.Grant.5
Person number: 4
Column index: 71
Column name: Number.of.Unsuccessful.Grant.5
Person number: 4
Column index: 72
Column name: A..5
Person number: 4
Column index: 73
Column name: A.5
Person number: 4
Column index: 74
Column name: B.5
Person number: 4
Column index: 75
Column name: C.5
Person number: 5
Column index: 76
Column name: Person.ID.6
Person number: 5
Column index: 77
Column name: Role.6
Person number: 5
Column index: 78
Column name: Year.of.Birth.6
Person number: 5
Column index: 79
Column name: Country.of.Birth.6
Person number: 5
Column index: 80
Column name: Home.Language.6
Person number: 5
Column index: 81
Column name: Dept.No..6
Person number: 5
Column index: 82
Column name: Faculty.No..6
Person number: 5
Column index: 83
Column name: With.PHD.6
Person number: 5
Column index: 84
Column name: No..of.Years.in.Uni.at.Time.of.Grant.6
Person number: 5
Column index: 85
Column name: Number.of.Successful.Grant.6
Person number: 5
Column index: 86
Column name: Number.of.Unsuccessful.Grant.6
Person number: 5
Column index: 87
Column name: A..6
Person number: 5
Column index: 88
Column name: A.6
Person number: 5
Column index: 89
Column name: B.6
Person number: 5
Column index: 90
Column name: C.6
Person number: 6
Column index: 91
Column name: Person.ID.7
Person number: 6
Column index: 92
Column name: Role.7
Person number: 6
Column index: 93
Column name: Year.of.Birth.7
Person number: 6
Column index: 94
Column name: Country.of.Birth.7
Person number: 6
Column index: 95
Column name: Home.Language.7
Person number: 6
Column index: 96
Column name: Dept.No..7
Person number: 6
Column index: 97
Column name: Faculty.No..7
Person number: 6
Column index: 98
Column name: With.PHD.7
Person number: 6
Column index: 99
Column name: No..of.Years.in.Uni.at.Time.of.Grant.7
Person number: 6
Column index: 100
Column name: Number.of.Successful.Grant.7
Person number: 6
Column index: 101
Column name: Number.of.Unsuccessful.Grant.7
Person number: 6
Column index: 102
Column name: A..7
Person number: 6
Column index: 103
Column name: A.7
Person number: 6
Column index: 104
Column name: B.7
Person number: 6
Column index: 105
Column name: C.7
Person number: 7
Column index: 106
Column name: Person.ID.8
Person number: 7
Column index: 107
Column name: Role.8
Person number: 7
Column index: 108
Column name: Year.of.Birth.8
Person number: 7
Column index: 109
Column name: Country.of.Birth.8
Person number: 7
Column index: 110
Column name: Home.Language.8
Person number: 7
Column index: 111
Column name: Dept.No..8
Person number: 7
Column index: 112
Column name: Faculty.No..8
Person number: 7
Column index: 113
Column name: With.PHD.8
Person number: 7
Column index: 114
Column name: No..of.Years.in.Uni.at.Time.of.Grant.8
Person number: 7
Column index: 115
Column name: Number.of.Successful.Grant.8
Person number: 7
Column index: 116
Column name: Number.of.Unsuccessful.Grant.8
Person number: 7
Column index: 117
Column name: A..8
Person number: 7
Column index: 118
Column name: A.8
Person number: 7
Column index: 119
Column name: B.8
Person number: 7
Column index: 120
Column name: C.8
Person number: 8
Column index: 121
Column name: Person.ID.9
Person number: 8
Column index: 122
Column name: Role.9
Person number: 8
Column index: 123
Column name: Year.of.Birth.9
Person number: 8
Column index: 124
Column name: Country.of.Birth.9
Person number: 8
Column index: 125
Column name: Home.Language.9
Person number: 8
Column index: 126
Column name: Dept.No..9
Person number: 8
Column index: 127
Column name: Faculty.No..9
Person number: 8
Column index: 128
Column name: With.PHD.9
Person number: 8
Column index: 129
Column name: No..of.Years.in.Uni.at.Time.of.Grant.9
Person number: 8
Column index: 130
Column name: Number.of.Successful.Grant.9
Person number: 8
Column index: 131
Column name: Number.of.Unsuccessful.Grant.9
Person number: 8
Column index: 132
Column name: A..9
Person number: 8
Column index: 133
Column name: A.9
Person number: 8
Column index: 134
Column name: B.9
Person number: 8
Column index: 135
Column name: C.9
Person number: 9
Column index: 136
Column name: Person.ID.10
Person number: 9
Column index: 137
Column name: Role.10
Person number: 9
Column index: 138
Column name: Year.of.Birth.10
Person number: 9
Column index: 139
Column name: Country.of.Birth.10
Person number: 9
Column index: 140
Column name: Home.Language.10
Person number: 9
Column index: 141
Column name: Dept.No..10
Person number: 9
Column index: 142
Column name: Faculty.No..10
Person number: 9
Column index: 143
Column name: With.PHD.10
Person number: 9
Column index: 144
Column name: No..of.Years.in.Uni.at.Time.of.Grant.10
Person number: 9
Column index: 145
Column name: Number.of.Successful.Grant.10
Person number: 9
Column index: 146
Column name: Number.of.Unsuccessful.Grant.10
Person number: 9
Column index: 147
Column name: A..10
Person number: 9
Column index: 148
Column name: A.10
Person number: 9
Column index: 149
Column name: B.10
Person number: 9
Column index: 150
Column name: C.10
Person number: 10
Column index: 151
Column name: Person.ID.11
Person number: 10
Column index: 152
Column name: Role.11
Person number: 10
Column index: 153
Column name: Year.of.Birth.11
Person number: 10
Column index: 154
Column name: Country.of.Birth.11
Person number: 10
Column index: 155
Column name: Home.Language.11
Person number: 10
Column index: 156
Column name: Dept.No..11
Person number: 10
Column index: 157
Column name: Faculty.No..11
Person number: 10
Column index: 158
Column name: With.PHD.11
Person number: 10
Column index: 159
Column name: No..of.Years.in.Uni.at.Time.of.Grant.11
Person number: 10
Column index: 160
Column name: Number.of.Successful.Grant.11
Person number: 10
Column index: 161
Column name: Number.of.Unsuccessful.Grant.11
Person number: 10
Column index: 162
Column name: A..11
Person number: 10
Column index: 163
Column name: A.11
Person number: 10
Column index: 164
Column name: B.11
Person number: 10
Column index: 165
Column name: C.11
Person number: 11
Column index: 166
Column name: Person.ID.12
Person number: 11
Column index: 167
Column name: Role.12
Person number: 11
Column index: 168
Column name: Year.of.Birth.12
Person number: 11
Column index: 169
Column name: Country.of.Birth.12
Person number: 11
Column index: 170
Column name: Home.Language.12
Person number: 11
Column index: 171
Column name: Dept.No..12
Person number: 11
Column index: 172
Column name: Faculty.No..12
Person number: 11
Column index: 173
Column name: With.PHD.12
Person number: 11
Column index: 174
Column name: No..of.Years.in.Uni.at.Time.of.Grant.12
Person number: 11
Column index: 175
Column name: Number.of.Successful.Grant.12
Person number: 11
Column index: 176
Column name: Number.of.Unsuccessful.Grant.12
Person number: 11
Column index: 177
Column name: A..12
Person number: 11
Column index: 178
Column name: A.12
Person number: 11
Column index: 179
Column name: B.12
Person number: 11
Column index: 180
Column name: C.12
Person number: 12
Column index: 181
Column name: Person.ID.13
Person number: 12
Column index: 182
Column name: Role.13
Person number: 12
Column index: 183
Column name: Year.of.Birth.13
Person number: 12
Column index: 184
Column name: Country.of.Birth.13
Person number: 12
Column index: 185
Column name: Home.Language.13
Person number: 12
Column index: 186
Column name: Dept.No..13
Person number: 12
Column index: 187
Column name: Faculty.No..13
Person number: 12
Column index: 188
Column name: With.PHD.13
Person number: 12
Column index: 189
Column name: No..of.Years.in.Uni.at.Time.of.Grant.13
Person number: 12
Column index: 190
Column name: Number.of.Successful.Grant.13
Person number: 12
Column index: 191
Column name: Number.of.Unsuccessful.Grant.13
Person number: 12
Column index: 192
Column name: A..13
Person number: 12
Column index: 193
Column name: A.13
Person number: 12
Column index: 194
Column name: B.13
Person number: 12
Column index: 195
Column name: C.13
Person number: 13
Column index: 196
Column name: Person.ID.14
Person number: 13
Column index: 197
Column name: Role.14
Person number: 13
Column index: 198
Column name: Year.of.Birth.14
Person number: 13
Column index: 199
Column name: Country.of.Birth.14
Person number: 13
Column index: 200
Column name: Home.Language.14
Person number: 13
Column index: 201
Column name: Dept.No..14
Person number: 13
Column index: 202
Column name: Faculty.No..14
Person number: 13
Column index: 203
Column name: With.PHD.14
Person number: 13
Column index: 204
Column name: No..of.Years.in.Uni.at.Time.of.Grant.14
Person number: 13
Column index: 205
Column name: Number.of.Successful.Grant.14
Person number: 13
Column index: 206
Column name: Number.of.Unsuccessful.Grant.14
Person number: 13
Column index: 207
Column name: A..14
Person number: 13
Column index: 208
Column name: A.14
Person number: 13
Column index: 209
Column name: B.14
Person number: 13
Column index: 210
Column name: C.14
Person number: 14
Column index: 211
Column name: Person.ID.15
Person number: 14
Column index: 212
Column name: Role.15
Person number: 14
Column index: 213
Column name: Year.of.Birth.15
Person number: 14
Column index: 214
Column name: Country.of.Birth.15
Person number: 14
Column index: 215
Column name: Home.Language.15
Person number: 14
Column index: 216
Column name: Dept.No..15
Person number: 14
Column index: 217
Column name: Faculty.No..15
Person number: 14
Column index: 218
Column name: With.PHD.15
Person number: 14
Column index: 219
Column name: No..of.Years.in.Uni.at.Time.of.Grant.15
Person number: 14
Column index: 220
Column name: Number.of.Successful.Grant.15
Person number: 14
Column index: 221
Column name: Number.of.Unsuccessful.Grant.15
Person number: 14
Column index: 222
Column name: A..15
Person number: 14
Column index: 223
Column name: A.15
Person number: 14
Column index: 224
Column name: B.15
Person number: 14
Column index: 225
Column name: C.15

In [29]:
n_persons = 15
n_persons_cols = (len(persons.columns) - 1) // n_persons
for i in range(n_persons):
    k = 1 + (i*n_persons_cols)
    l = ((i+1)*n_persons_cols)
    print('Person number: ' + str(i))
    print('1st Column index: ' + str(k))
    print('1st Column name: ' + persons.columns[k])
    print('last Column index: ' + str(l))
    print('last Column name: ' + persons.columns[l])
    
    print('\n')

Person number: 0
1st Column index: 1
1st Column name: Person.ID.1
last Column index: 15
last Column name: C.1


Person number: 1
1st Column index: 16
1st Column name: Person.ID.2
last Column index: 30
last Column name: C.2


Person number: 2
1st Column index: 31
1st Column name: Person.ID.3
last Column index: 45
last Column name: C.3


Person number: 3
1st Column index: 46
1st Column name: Person.ID.4
last Column index: 60
last Column name: C.4


Person number: 4
1st Column index: 61
1st Column name: Person.ID.5
last Column index: 75
last Column name: C.5


Person number: 5
1st Column index: 76
1st Column name: Person.ID.6
last Column index: 90
last Column name: C.6


Person number: 6
1st Column index: 91
1st Column name: Person.ID.7
last Column index: 105
last Column name: C.7


Person number: 7
1st Column index: 106
1st Column name: Person.ID.8
last Column index: 120
last Column name: C.8


Person number: 8
1st Column index: 121
1st Column name: Person.ID.9
last Column index: 135
last Column name: C.9


Person number: 9
1st Column index: 136
1st Column name: Person.ID.10
last Column index: 150
last Column name: C.10


Person number: 10
1st Column index: 151
1st Column name: Person.ID.11
last Column index: 165
last Column name: C.11


Person number: 11
1st Column index: 166
1st Column name: Person.ID.12
last Column index: 180
last Column name: C.12


Person number: 12
1st Column index: 181
1st Column name: Person.ID.13
last Column index: 195
last Column name: C.13


Person number: 13
1st Column index: 196
1st Column name: Person.ID.14
last Column index: 210
last Column name: C.14


Person number: 14
1st Column index: 211
1st Column name: Person.ID.15
last Column index: 225
last Column name: C.15

In [ ]:
df_p = {}

In [31]:
#we flatten the persons subtable
#all columns with persons informatin is repeated 15 times
n_persons = 15

#this gives us the following number of coloumns per person (also 15):
n_persons_cols = (len(persons.columns) - 1) // n_persons

#we generate a list the with ID and the field names
col_names = [persons.columns[0]]
[col_names.append(i[:-2]) for i in persons.columns[1:n_persons_cols+1]]

# and use this list to make an empty dataframe
df_p = pd.DataFrame(columns = col_names)

#we loop over all persons 1..15 and take the respective fields (ie columns) and append them
for i in range(n_persons):
    #coloumn index for first coloumn of person i
    k = 1 + (i*n_persons_cols)
    #coloumn index for last coloumn of person i
    l = 1 + ((i+1)*n_persons_cols)
    #get a temp table with the desired info
    tmp = pd.concat( [persons.iloc[:,0],  persons.iloc[:,k:l]], axis = 1)
    #rename the table to make the UNION ALL opertion work
    tmp.columns = df_p.columns
    df_p = pd.concat([df_p, tmp],axis = 0)

In [48]:
# remove lines with person ID AND Role empty
df_p = df_p.loc[~(df_p.loc[:,'Person.ID'].isnull() & df_p.loc[:,'Role'].isnull()),:]

In [49]:
df_p.head()

,id,Person.ID,Role,Year.of.Birth,Country.of.Birth,Home.Language,Dept.No.,Faculty.No.,With.PHD,No..of.Years.in.Uni.at.Time.of.Grant,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
0,1,40572.0,CHIEF_INVESTIGATOR,1965.0,Asia Pacific,Other,3073.0,31.0,NaN,Less than 0,0.0,0.0,4.0,2.0,0.0,0.0
1,2,9067.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,2538.0,25.0,Yes,more than 15,0.0,0.0,6.0,12.0,2.0,2.0
2,3,5967.0,CHIEF_INVESTIGATOR,1955.0,Australia,NaN,2923.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,5.0,2.0
3,4,78782.0,PRINCIPAL_SUPERVISOR,1955.0,Australia,NaN,2678.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,13.0,3.0
4,5,13042.0,CHIEF_INVESTIGATOR,1965.0,Western Europe,NaN,2153.0,19.0,Yes,>5 to 10,0.0,0.0,3.0,0.0,1.0,0.0

In [60]:
# we create a new table called externals with the  columns grant_application_id and has_[external role]
# external roles are stored as person without ID, therefore the following command identifies them:
# df_p.loc[df_p.loc[:,'Person.ID'].isnull(),'Role'].unique()
# of course they can also be identifed by name (ie external advisor..)
# it might be possilbe that a different role has a missing person ID filed in the testing date,
# therefore we hardcode it: EXT_CHIEF_INVESTIGATOR', 'STUD_CHIEF_INVESTIGATOR', 'STUDRES', 'EXTERNAL_ADVISOR'
ext_list = ['EXT_CHIEF_INVESTIGATOR', 'STUD_CHIEF_INVESTIGATOR', 'STUDRES', 'EXTERNAL_ADVISOR']
mask = df_p.Role.isin(ext_list)
df_ext = df_p.loc[mask,:]
#we only want to keep the grant application id and the role
df_ext = df_ext.loc[:,['id','Role']]
#we need to drop dublicates, otherwise the pivot will not work. they are of the form (ID: 1, 1 ; role: Ext_Advisor,Ext_Advisor)
df_ext.drop_duplicates( inplace=True)
df_p = df_p.loc[~mask,:]

In [75]:
# next step is to pivot the table so that we have one line per grant applications ID
df_ext['dummy'] = True
df_ext = df_ext.pivot(index ='id', columns='Role', values = 'dummy' )

# we restore the column ID by restting the index
df_ext = df_ext.reset_index()

Role EXTERNAL_ADVISOR EXT_CHIEF_INVESTIGATOR STUDRES STUD_CHIEF_INVESTIGATOR
id
3                None                   True    None                    None
4                None                   True    None                    True
7                None                   True    None                    None
8                None                   True    None                    None
9                None                   True    None                    None

In [80]:
# we can now continue with the person table
# we make all categorial variables to strings
# numerics are first converted to integers, otherwise we will have .0 at the end
df_p[['Person.ID','Dept.No.','Faculty.No.']]

In [85]:
df_p.head()

,id,Person.ID,Role,Year.of.Birth,Country.of.Birth,Home.Language,Dept.No.,Faculty.No.,With.PHD,No..of.Years.in.Uni.at.Time.of.Grant,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
0,1,40572.0,CHIEF_INVESTIGATOR,1965.0,Asia Pacific,Other,3073.0,31.0,NaN,Less than 0,0.0,0.0,4.0,2.0,0.0,0.0
1,2,9067.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,2538.0,25.0,Yes,more than 15,0.0,0.0,6.0,12.0,2.0,2.0
2,3,5967.0,CHIEF_INVESTIGATOR,1955.0,Australia,NaN,2923.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,5.0,2.0
3,4,78782.0,PRINCIPAL_SUPERVISOR,1955.0,Australia,NaN,2678.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,13.0,3.0
4,5,13042.0,CHIEF_INVESTIGATOR,1965.0,Western Europe,NaN,2153.0,19.0,Yes,>5 to 10,0.0,0.0,3.0,0.0,1.0,0.0

In [55]:
df_p.loc[df_p.Role == 'STUD_CHIEF_INVESTIGATOR','Person.ID'].unique()

array([ nan])

In [52]:
df_p.loc[ df_p.loc[:,'Person.ID'] == 489582,:]

,id,Person.ID,Role,Year.of.Birth,Country.of.Birth,Home.Language,Dept.No.,Faculty.No.,With.PHD,No..of.Years.in.Uni.at.Time.of.Grant,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
69,70,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,0.0,1.0,11.0,1.0,2.0,0.0
2427,2428,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,1.0,1.0,12.0,1.0,3.0,1.0
3173,3174,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,12.0,1.0,3.0,1.0
4221,4222,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,13.0,1.0,3.0,1.0
4828,4829,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5493,5494,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
3154,3155,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,1.0,1.0,0.0,0.0,0.0,0.0
3972,3973,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,0.0,0.0,0.0,0.0
6183,6184,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,0.0,0.0,0.0,0.0
5725,5726,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5771,5772,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5773,5774,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5791,5792,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
4126,4127,489582.0,CHIEF_INVESTIGATOR,1975.0,NaN,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,12.0,1.0,3.0,1.0
4169,4170,489582.0,STUDRES,1975.0,NaN,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,12.0,1.0,3.0,1.0
4283,4284,489582.0,CHIEF_INVESTIGATOR,1975.0,NaN,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,13.0,1.0,3.0,1.0

In [54]:
df.date()

'9/12/05'