In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import keras

Using TensorFlow backend.

In [2]:
input_type = 'train'
agg_roles_dict={'Role':  lambda x : x.mode() }
df_rol_raw = pd.read_csv('../data/' + input_type + '_roles_raw.csv', low_memory=False)
df_rol_raw.head()

   id  Person.ID                  Role
0   1      40572    CHIEF_INVESTIGATOR
1   2       9067    CHIEF_INVESTIGATOR
2   3       5967    CHIEF_INVESTIGATOR
3   4      78782  PRINCIPAL_SUPERVISOR
4   5      13042    CHIEF_INVESTIGATOR

In [48]:
# we generate a dataframe with the uniqe key pairs ( date, person Id).
# this df will be filled and returned as the mod frame
df_rol_mod = df_rol_raw.loc[:,['id', 'Person.ID']].drop_duplicates()


for col, fun in agg_roles_dict.items():
 
    # we apply the aggregation function to the coloumn
    tmp2 = df_rol_raw.groupby(['id', 'Person.ID'])[col].agg(fun)
    
    # in case the aggregation function returns a list and not a single element, we take the first one
    # if there were only NaN for this day and persion ID, an empty np array is returned-> we chagne it to a NaN
    tmp2 = tmp2.apply(lambda x : x[0] if (isinstance(x, np.ndarray) and len(x) > 0 ) else \
               (np.nan if (isinstance(x, np.ndarray) and len(x) == 0) else x  ))
    
    # we merge the series with the dataframe that stores all the outcome
    df_rol_mod = pd.merge(df_rol_mod, tmp2.to_frame(name = col).reset_index(),how='left',on = ['id', 'Person.ID'])

In [31]:
# read all csv data
df_roles = pd.read_csv('../data/' + input_type + '_role_mod.csv', low_memory=False)
df_p_dyn = pd.read_csv('../data/' + input_type + '_person_dyn_mod.csv', low_memory=False,parse_dates=['date'])
df_p_static = pd.read_csv('../data/' + input_type + '_person_static_mod.csv', low_memory=False)
#df_ext = pd.read_csv('../data/' + input_type + '_externals_raw.csv', low_memory=False)

# we also need the combination (id,date)
df_dates = pd.read_csv('../data/' + input_type + '.csv', low_memory=False,parse_dates=['date']).loc[:, ['id','date']].drop_duplicates()

# we also need the combination (id,date)
df_main = pd.read_csv('../data/' + input_type + '.csv', low_memory=False,parse_dates=['date'])

In [33]:
df_main.head(15)

,id,granted,sponsor,grant_category,grant_value,date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,RFCD.Code.3,RFCD.Percentage.3,RFCD.Code.4,RFCD.Percentage.4,RFCD.Code.5,RFCD.Percentage.5,SEO.Code.1,SEO.Percentage.1,SEO.Code.2,SEO.Percentage.2,SEO.Code.3,SEO.Percentage.3,SEO.Code.4,SEO.Percentage.4,SEO.Code.5,SEO.Percentage.5,Person.ID.1,Role.1,Year.of.Birth.1,Country.of.Birth.1,Home.Language.1,Dept.No..1,Faculty.No..1,With.PHD.1,No..of.Years.in.Uni.at.Time.of.Grant.1,Number.of.Successful.Grant.1,Number.of.Unsuccessful.Grant.1,A..1,A.1,B.1,C.1,Person.ID.2,Role.2,Year.of.Birth.2,Country.of.Birth.2,Home.Language.2,Dept.No..2,Faculty.No..2,With.PHD.2,No..of.Years.in.Uni.at.Time.of.Grant.2,Number.of.Successful.Grant.2,Number.of.Unsuccessful.Grant.2,A..2,A.2,B.2,C.2,Person.ID.3,Role.3,Year.of.Birth.3,Country.of.Birth.3,Home.Language.3,Dept.No..3,Faculty.No..3,With.PHD.3,No..of.Years.in.Uni.at.Time.of.Grant.3,Number.of.Successful.Grant.3,Number.of.Unsuccessful.Grant.3,A..3,A.3,B.3,C.3,Person.ID.4,Role.4,Year.of.Birth.4,Country.of.Birth.4,Home.Language.4,Dept.No..4,Faculty.No..4,With.PHD.4,No..of.Years.in.Uni.at.Time.of.Grant.4,Number.of.Successful.Grant.4,Number.of.Unsuccessful.Grant.4,A..4,A.4,B.4,C.4,Person.ID.5,Role.5,Year.of.Birth.5,Country.of.Birth.5,Home.Language.5,Dept.No..5,Faculty.No..5,With.PHD.5,No..of.Years.in.Uni.at.Time.of.Grant.5,Number.of.Successful.Grant.5,Number.of.Unsuccessful.Grant.5,A..5,A.5,B.5,C.5,Person.ID.6,Role.6,Year.of.Birth.6,Country.of.Birth.6,Home.Language.6,Dept.No..6,Faculty.No..6,With.PHD.6,No..of.Years.in.Uni.at.Time.of.Grant.6,Number.of.Successful.Grant.6,Number.of.Unsuccessful.Grant.6,A..6,A.6,B.6,C.6,Person.ID.7,Role.7,Year.of.Birth.7,Country.of.Birth.7,Home.Language.7,Dept.No..7,Faculty.No..7,With.PHD.7,No..of.Years.in.Uni.at.Time.of.Grant.7,Number.of.Successful.Grant.7,Number.of.Unsuccessful.Grant.7,A..7,A.7,B.7,C.7,Person.ID.8,Role.8,Year.of.Birth.8,Country.of.Birth.8,Home.Language.8,Dept.No..8,Faculty.No..8,With.PHD.8,No..of.Years.in.Uni.at.Time.of.Grant.8,Number.of.Successful.Grant.8,Number.of.Unsuccessful.Grant.8,A..8,A.8,B.8,C.8,Person.ID.9,Role.9,Year.of.Birth.9,Country.of.Birth.9,Home.Language.9,Dept.No..9,Faculty.No..9,With.PHD.9,No..of.Years.in.Uni.at.Time.of.Grant.9,Number.of.Successful.Grant.9,Number.of.Unsuccessful.Grant.9,A..9,A.9,B.9,C.9,Person.ID.10,Role.10,Year.of.Birth.10,Country.of.Birth.10,Home.Language.10,Dept.No..10,Faculty.No..10,With.PHD.10,No..of.Years.in.Uni.at.Time.of.Grant.10,Number.of.Successful.Grant.10,Number.of.Unsuccessful.Grant.10,A..10,A.10,B.10,C.10,Person.ID.11,Role.11,Year.of.Birth.11,Country.of.Birth.11,Home.Language.11,Dept.No..11,Faculty.No..11,With.PHD.11,No..of.Years.in.Uni.at.Time.of.Grant.11,Number.of.Successful.Grant.11,Number.of.Unsuccessful.Grant.11,A..11,A.11,B.11,C.11,Person.ID.12,Role.12,Year.of.Birth.12,Country.of.Birth.12,Home.Language.12,Dept.No..12,Faculty.No..12,With.PHD.12,No..of.Years.in.Uni.at.Time.of.Grant.12,Number.of.Successful.Grant.12,Number.of.Unsuccessful.Grant.12,A..12,A.12,B.12,C.12,Person.ID.13,Role.13,Year.of.Birth.13,Country.of.Birth.13,Home.Language.13,Dept.No..13,Faculty.No..13,With.PHD.13,No..of.Years.in.Uni.at.Time.of.Grant.13,Number.of.Successful.Grant.13,Number.of.Unsuccessful.Grant.13,A..13,A.13,B.13,C.13,Person.ID.14,Role.14,Year.of.Birth.14,Country.of.Birth.14,Home.Language.14,Dept.No..14,Faculty.No..14,With.PHD.14,No..of.Years.in.Uni.at.Time.of.Grant.14,Number.of.Successful.Grant.14,Number.of.Unsuccessful.Grant.14,A..14,A.14,B.14,C.14,Person.ID.15,Role.15,Year.of.Birth.15,Country.of.Birth.15,Home.Language.15,Dept.No..15,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15
0,1,1,NaN,NaN,A,2005-08-11,280199.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,700299.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40572.0,CHIEF_INVESTIGATOR,1965.0,Asia Pacific,Other,3073.0,31.0,NaN,Less than 0,0.0,0.0,4.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,2005-11-11,280103.0,30.0,280106.0,30.0,280203.0,40.0,0.0,0.0,0.0,0.0,700103.0,50.0,700102.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,9067.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,2538.0,25.0,Yes,more than 15,0.0,0.0,6.0,12.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,2005-11-14,321004.0,60.0,321216.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,730105.0,60.0,730207.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,5967.0,CHIEF_INVESTIGATOR,1955.0,Australia,NaN,2923.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,5.0,2.0,27307.0,CHIEF_INVESTIGATOR,1950.0,Australia,NaN,2923.0,25.0,NaN,Less than 0,0.0,0.0,0.0,0.0,0.0,0.0,79652.0,CHIEF_INVESTIGATOR,1950.0,Asia Pacific,NaN,2498.0,25.0,Yes,more than 15,0.0,0.0,1.0,3.0,3.0,3.0,11667.0,DELEGATED_RESEARCHER,1950.0,Australia,NaN,2548.0,25.0,NaN,more than 15,0.0,0.0,6.0,14.0,12.0,2.0,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,2005-11-15,270602.0,50.0,320602.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,730106.0,70.0,730201.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,78782.0,PRINCIPAL_SUPERVISOR,1955.0,Australia,NaN,2678.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,13.0,3.0,55337.0,CHIEF_INVESTIGATOR,1975.0,Australia,NaN,2678.0,25.0,Yes,>=0 to 5,0.0,0.0,0.0,0.0,0.0,0.0,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STUD_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,2005-11-16,260500.0,34.0,280000.0,33.0,290000.0,33.0,0.0,0.0,0.0,0.0,770199.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13042.0,CHIEF_INVESTIGATOR,1965.0,Western Europe,NaN,2153.0,19.0,Yes,>5 to 10,0.0,0.0,3.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,1,4D,10A,NaN,2005-11-19,321204.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,730211.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,301472.0,CHIEF_INVESTIGATOR,1950.0,Australia,NaN,2533.0,25.0,Yes,>=0 to 5,2.0,0.0,7.0,27.0,27.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,0,2B,10A,NaN,2005-11-19,270708.0,50.0,270203.0,30.0,270401.0,20.0,0.0,0.0,0.0,0.0,770703.0,60.0,770706.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,74292.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,3028.0,31.0,Yes,>10 to 15,0.0,0.0,8.0,5.0,2.0,0.0,82602.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,3028.0,31.0,Yes,>10 to 15,0.0,1.0,0.0,0.0,0.0,0.0,79742.0,CHIEF_INVESTIGATOR,1950.0,Great Britain,NaN,3028.0,31.0,NaN,Less than 0,0.0,0.0,0.0,7.0,12.0,4.0,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,0,28D,30B,A,2005-11-19,321405.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,730303.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1642.0,CHIEF_INVESTIGATOR,1965.0,Australia,NaN,2563.0,25.0,NaN,NaN,0.0,3.0,0.0,0.0,0.0,0.0,70212.0,CHIEF_INVESTIGATOR,1940.0,Australia,NaN,2563.0,25.0,NaN,Less than 0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,2B,10A,H,2005-11-19,260108.0,50.0,260109.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,780104.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1012.0,CHIEF_INVESTIGATOR,1945.0,Australia,English,3123.0,31.0,Yes,>5 to 10,0.0,0.0,8.0,1.0,11.0,0.0,80197.0,CHIEF_INVESTIGATOR,1950.0,Australia,English,3123.0,31.0,Yes,>5 to 10,2.0,1.0,0.0,0.0,0.0,0.0,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,2B,10A,NaN,2005-11-19,270708.0,40.0,270704.0,30.0,270203.0,30.0,0.0,0.0,0.0,0.0,770503.0,60.0,770502.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,89462.0,CHIEF_INVESTIGATOR,1930.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,1,2B,10A,G,2005-11-19,230111.0,60.0,230112.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,740301.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67272.0,CHIEF_INVESTIGATOR,1965.0,Australia,NaN,3098.0,31.0,Yes,>=0 to 5,0.0,0.0,2.0,4.0,0.0,0.0,80037.0,CHIEF_INVESTIGATOR,1950.0,Australia,NaN,3098.0,31.0,Yes,more than 15,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,0,136D,30B,NaN,2005-11-19,270603.0,20.0,321003.0,30.0,321012.0,50.0,0.0,0.0,0.0,0.0,730106.0,30.0,730115.0,50.0,730116.0,20.0,0.0,0.0,0.0,0.0,1797.0,CHIEF_INVESTIGATOR,1960.0,North America,NaN,2678.0,25.0,Yes,>5 to 10,2.0,7.0,0.0,8.0,4.0,0.0,NaN,STUD_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,1,4D,10A,NaN,2005-11-19,320702.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,730104.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73882.0,CHIEF_INVESTIGATOR,1960.0,Great Britain,NaN,2713.0,25.0,NaN,Less than 0,1.0,1.0,4.0,3.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,0,NaN,NaN,NaN,2005-11-19,291599.0,51.0,239901.0,49.0,0.0,0.0,0.0,0.0,0.0,0.0,730199.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38457.0,CHIEF_INVESTIGATOR,1970.0,Australia,NaN,2153.0,19.0,NaN,Less than 0,0.0,0.0,3.0,4.0,2.0,0.0,132247.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,1998.0,19.0,NaN,Less than 0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EXT_CHIEF_INVESTIGATOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
rfcd_level = 1
rfcd_level_dict={0:10000,
          1:100,
          2:1}
apps_rfcd = df_main.set_index('id').filter(regex = '^RFCD.Code.').\
    reset_index().melt('id').query("value != 0.").\
    assign(rfcd = lambda df : df.value // rfcd_level_dict[rfcd_level] ).sort_values('id').\
    reset_index(drop = True).loc[:,['id','rfcd']].drop_duplicates()

In [68]:
apps_rfcd

         id    rfcd
0         1  2801.0
1         2  2802.0
2         2  2801.0
4         3  3212.0
5         3  3210.0
6         4  2706.0
7         4  3206.0
8         5  2800.0
9         5  2605.0
10        5  2900.0
11        6  3212.0
12        7  2707.0
13        7  2704.0
14        7  2702.0
15        8  3214.0
16        9  2601.0
18       10  2707.0
19       10  2702.0
21       11  2301.0
23       12  3210.0
24       12  2706.0
26       13  3207.0
27       14  2915.0
28       14  2399.0
29       15  2802.0
30       15  2801.0
32       16  3210.0
33       17  3210.0
35       17  2706.0
36       18  3704.0
...     ...     ...
14095  6610  3204.0
14096  6611  3204.0
14097  6611  3210.0
14100  6612  3212.0
14102  6613  2503.0
14103  6613  2506.0
14104  6614  3005.0
14105  6614  3004.0
14106  6615     NaN
14111  6616  3005.0
14112  6617     NaN
14117  6618     NaN
14122  6619  3207.0
14124  6619  3210.0
14125  6620     NaN
14130  6621     NaN
14135  6622     NaN
14140  6623     NaN
14145  6624     NaN
14150  6625     NaN
14155  6626  2707.0
14156  6627     NaN
14161  6628  3210.0
14163  6629  3210.0
14165  6630  2802.0
14166  6631  2908.0
14167  6631  2918.0
14168  6631  3602.0
14169  6632     NaN
14174  6633  4199.0

[10140 rows x 2 columns]

In [136]:
rfcd_level = 1
rfcd_level_dict={0:10000,
          1:100,
          2:1}
apps_rfcd = df_main.set_index('id').filter(regex = '^RFCD.Code.').\
    reset_index().melt('id').query("value != 0.").\
    assign(rfcd = lambda df : df.value // rfcd_level_dict[rfcd_level] ).sort_values('id').\
    reset_index(drop = True).loc[:,['id','rfcd']].drop_duplicates()

#the df filter stores the (id, filter.value)
df_filter = apps_rfcd

df_filter.columns = ['id','f_value']

result = pd.DataFrame(columns=['s_count','s_rate'])

for id in apps_rfcd.id.unique():
    #print(id)
    team = list(df_roles.loc[df_roles.id == id,'Person.ID'])
    
    #this is a list of all applications, also future ones
    all_team_apps = pd.Series(df_roles.loc[df_roles.loc[:,'Person.ID'].isin(team),'id'].unique())
    
    # we now need to filter for previous applications of the team 
    date_this_app = df_dates.loc[df_dates.id == id,'date']
    ids_all_prev_apps = list(df_dates.loc[ df_dates.date < date_this_app.iloc[0],'id'])
    prev_team_apps = list(all_team_apps[all_team_apps.isin(ids_all_prev_apps)])
    
    # of those previous applications, we now keep only the ones that were in the same category
    # ie same sponsor, same rfcd
    current_filter = list(df_filter.loc[df_filter.id  == id,'f_value'].unique())
    prev_team_apps_filter = list(df_filter.\
                                 loc[df_filter.f_value.isin(current_filter) & df_filter.id.isin(prev_team_apps),'id' ])
    
    granted_filter = df_main.loc[df_main.id.isin(prev_team_apps_filter),'granted']
    s_count = granted_filter.sum()
    s_rate = granted_filter.mean()
    
    tmp=pd.DataFrame({'s_count' :  granted_filter.sum(),
                     's_rate' : granted_filter.mean()},index=[id])
    result=result.append(tmp)

In [170]:
def gen_s(df_filter, df_roles,df_main):
    df_dates = df_main.loc[:, ['id','date']].drop_duplicates()
    df_filter.columns = ['id', 'f_value']

    result = pd.DataFrame(columns=['s_count', 's_rate'])

    for id in df_filter.id.unique():
        # print(id)
        team = list(df_roles.loc[df_roles.id == id, 'Person.ID'])

        # this is a list of all applications, also future ones
        all_team_apps = pd.Series(df_roles.loc[df_roles.loc[:, 'Person.ID'].isin(team), 'id'].unique())

        # we now need to filter for previous applications of the team
        date_this_app = df_dates.loc[df_dates.id == id, 'date']
        ids_all_prev_apps = list(df_dates.loc[df_dates.date < date_this_app.iloc[0], 'id'])
        prev_team_apps = list(all_team_apps[all_team_apps.isin(ids_all_prev_apps)])

        # of those previous applications, we now keep only the ones that were in the same category
        # ie same sponsor, same rfcd
        current_filter = list(df_filter.loc[df_filter.id == id, 'f_value'].unique())
        prev_team_apps_filter = list(df_filter. \
                                     loc[df_filter.f_value.isin(current_filter) & df_filter.id.isin(prev_team_apps), 'id'])

        granted_filter = df_main.loc[df_main.id.isin(prev_team_apps_filter), 'granted']

        tmp = pd.DataFrame({'s_count': granted_filter.sum(),
                            's_rate': granted_filter.mean()}, index=[id])
        result = result.append(tmp)
    
    result.index.names = ['id']
    result = result.reset_index()
    return result

def gen_filter_rfcd(df_main, rfcd_level = 1):
    rfcd_level_dict = {0: 10000,
                       1: 100,
                       2: 1}
    apps_rfcd = df_main.set_index('id').filter(regex='^RFCD.Code.'). \
                    reset_index().melt('id').query("value != 0."). \
                    assign(rfcd=lambda df: df.value // rfcd_level_dict[rfcd_level]).sort_values('id'). \
                    reset_index(drop=True).loc[:, ['id', 'rfcd']].drop_duplicates()

    return apps_rfcd

In [179]:
df_out = df_main.loc[:,['id']]
for j in range(3):
    print('rfcd ' + str(j))
    df_filter = gen_filter_rfcd(df_main,j)
    tmp_res = gen_s(df_filter, df_roles, df_main)
    tmp_res.columns =  ['rfcd_l' + str(j) + '_' + x  if x !='id' else x  for x in tmp_res.columns]
    df_out = df_out.merge(tmp_res,how = 'left', on = 'id')
   
    
#gen_filter_rfcd

rfcd 0
rfcd 1
rfcd 2

In [183]:
col = 'sponsor'
df_filter = df_main.set_index('id').filter(regex='^' + col). \
                    reset_index().melt('id').query("value != 0.").\
                    sort_values('id'). \
                    reset_index(drop=True).loc[:, ['id', 'value']].drop_duplicates()
df_filter

        id value
0        1   NaN
1        2    2B
2        3   29A
3        4   40D
4        5   59C
5        6    4D
6        7    2B
7        8   28D
8        9    2B
9       10    2B
10      11    2B
11      12  136D
12      13    4D
13      14   NaN
14      15    2B
15      16  100D
16      17    1A
17      18   21A
18      19    2B
19      20   24D
20      21  148D
21      22   12D
22      23   62B
23      24    2B
24      25  138B
25      26   NaN
26      27   NaN
27      28   NaN
28      29   60D
29      30    2B
...    ...   ...
6603  6604  205A
6604  6605  126B
6605  6606  432D
6606  6607  279C
6607  6608   21A
6608  6609   47C
6609  6610   NaN
6610  6611  279C
6611  6612    4D
6612  6613  135C
6613  6614    7C
6614  6615    4D
6615  6616    7C
6616  6617    7C
6617  6618    7C
6618  6619   81A
6619  6620    7C
6620  6621    7C
6621  6622   62B
6622  6623   NaN
6623  6624    7C
6624  6625   62B
6625  6626   73A
6626  6627   34B
6627  6628   34B
6628  6629    5A
6629  6630   NaN
6630  6631  223C
6631  6632   NaN
6632  6633    5A

[6633 rows x 2 columns]

In [178]:
tmp_res.tail(50)
tmp = tmp_res.copy()


tmp.columns = ['rfcd_l' + str(j) + '_' + x  if x !='id' else x  for x in tmp_res.columns]
#tmp

In [162]:
feature_dict = {'Role' : {'n_internals' :lambda x : x.size},
                'Year.of.Birth': { 'mean_year_of_birth' : lambda x : x.mean(),
                                 'max_year_of_birth' : lambda x : x.max()},
            'Country.of.Birth': {'Country.of.Birth': lambda x : x.mode()},
           'Home.Language':  {'Home.Language': lambda x : x.mode()},
           'Dept.No.' :  {'Dept.No.' : lambda x : x.mode()},
             'Faculty.No.':  {'Faculty.No.': lambda x : x.mode()},
              'With.PHD' : {'With.PHD' : lambda x : x.sum()},
               'years_in_uni' : {'mean_years_in_uni' : lambda x : x.mean(),
                                'max_years_in_uni' : lambda x : x.max()},
               'Number.of.Successful.Grant' : {'Number.of.Successful.Grant' : lambda x : x.sum()},
               'Number.of.Unsuccessful.Grant': {'Number.of.Unsuccessful.Grant' : lambda x : x.sum()},
                'A.':{'A.':lambda x : x.sum()},
               'A': {'A': lambda x : x.sum()},
               'B': {'B':lambda x : x.sum()},
                'C':{'C': lambda x : x.sum()}}

In [32]:
persons = df_dates.merge(df_roles, how = 'left', on = ['id']).\
    merge(df_p_static,how = 'left', on = ['Person.ID']).\
    merge(df_p_dyn,how = 'left', on = ['date','Person.ID'])

In [95]:
persons

,id,date,Person.ID,Role,Year.of.Birth,Country.of.Birth,Home.Language,Dept.No.,Faculty.No.,With.PHD,years_in_uni,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
0,1,2005-08-11,40572,CHIEF_INVESTIGATOR,1965.0,Asia Pacific,Other,3073.0,31.0,NaN,0.0,0.0,0.0,4.0,2.0,0.0,0.0
1,2,2005-11-11,9067,CHIEF_INVESTIGATOR,1960.0,Australia,English,2538.0,25.0,1.0,4.0,0.0,0.0,6.0,12.0,2.0,2.0
2,3,2005-11-14,5967,CHIEF_INVESTIGATOR,1955.0,Australia,English,2923.0,25.0,1.0,2.0,0.0,0.0,0.0,3.0,5.0,2.0
3,3,2005-11-14,27307,CHIEF_INVESTIGATOR,1950.0,Australia,English,2923.0,25.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,2005-11-14,79652,CHIEF_INVESTIGATOR,1950.0,Asia Pacific,Other,2498.0,25.0,1.0,4.0,0.0,0.0,1.0,3.0,3.0,3.0
5,3,2005-11-14,11667,DELEGATED_RESEARCHER,1950.0,Australia,English,2548.0,25.0,NaN,4.0,0.0,0.0,6.0,14.0,12.0,2.0
6,4,2005-11-15,78782,PRINCIPAL_SUPERVISOR,1955.0,Australia,English,2678.0,25.0,1.0,2.0,0.0,0.0,0.0,3.0,13.0,3.0
7,4,2005-11-15,55337,CHIEF_INVESTIGATOR,1975.0,Australia,English,2678.0,25.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,5,2005-11-16,13042,CHIEF_INVESTIGATOR,1965.0,Western Europe,Other,2153.0,19.0,1.0,2.0,0.0,0.0,3.0,0.0,1.0,0.0
9,6,2005-11-19,301472,CHIEF_INVESTIGATOR,1950.0,Australia,English,2533.0,25.0,1.0,1.0,2.0,0.0,7.0,27.0,27.0,6.0
10,7,2005-11-19,74292,CHIEF_INVESTIGATOR,1960.0,Australia,English,3028.0,31.0,1.0,3.0,0.0,0.0,8.0,5.0,2.0,0.0
11,7,2005-11-19,82602,CHIEF_INVESTIGATOR,1960.0,Australia,English,3028.0,31.0,1.0,3.0,0.0,1.0,1.0,3.0,6.0,1.0
12,7,2005-11-19,79742,CHIEF_INVESTIGATOR,1950.0,Great Britain,English,3028.0,31.0,NaN,0.0,0.0,0.0,0.0,7.0,12.0,4.0
13,8,2005-11-19,1642,CHIEF_INVESTIGATOR,1965.0,Australia,English,2563.0,25.0,NaN,NaN,0.0,3.0,0.0,0.0,0.0,0.0
14,8,2005-11-19,70212,CHIEF_INVESTIGATOR,1940.0,Australia,English,2563.0,25.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,9,2005-11-19,1012,CHIEF_INVESTIGATOR,1945.0,Australia,English,3123.0,31.0,1.0,2.0,0.0,0.0,8.0,1.0,11.0,0.0
16,9,2005-11-19,80197,CHIEF_INVESTIGATOR,1950.0,Australia,English,3123.0,31.0,1.0,2.0,2.0,1.0,6.0,0.0,5.0,0.0
17,10,2005-11-19,89462,CHIEF_INVESTIGATOR,1930.0,Unknown,Unknown,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0
18,11,2005-11-19,67272,CHIEF_INVESTIGATOR,1965.0,Australia,English,3098.0,31.0,1.0,1.0,0.0,0.0,2.0,4.0,0.0,0.0
19,11,2005-11-19,80037,CHIEF_INVESTIGATOR,1950.0,Australia,English,3098.0,31.0,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0
20,12,2005-11-19,1797,CHIEF_INVESTIGATOR,1960.0,North America,English,2678.0,25.0,1.0,2.0,2.0,7.0,0.0,8.0,4.0,0.0
21,13,2005-11-19,73882,CHIEF_INVESTIGATOR,1960.0,Great Britain,English,2713.0,25.0,NaN,0.0,1.0,1.0,4.0,3.0,2.0,1.0
22,14,2005-11-19,38457,CHIEF_INVESTIGATOR,1970.0,Australia,English,2153.0,19.0,NaN,0.0,0.0,0.0,3.0,4.0,2.0,0.0
23,14,2005-11-19,132247,CHIEF_INVESTIGATOR,1960.0,Australia,English,1998.0,19.0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,15,2005-11-19,9067,CHIEF_INVESTIGATOR,1960.0,Australia,English,2538.0,25.0,1.0,4.0,3.0,3.0,6.0,12.0,2.0,2.0
25,15,2005-11-19,8067,CHIEF_INVESTIGATOR,1960.0,Western Europe,Other,1998.0,19.0,1.0,2.0,0.0,2.0,6.0,9.0,6.0,4.0
26,15,2005-11-19,80137,DELEGATED_RESEARCHER,1950.0,Australia,English,2163.0,19.0,1.0,4.0,0.0,0.0,1.0,5.0,1.0,0.0
27,16,2005-11-19,69482,CHIEF_INVESTIGATOR,1965.0,Australia,English,2883.0,25.0,1.0,1.0,1.0,1.0,0.0,0.0,2.0,2.0
28,17,2005-11-19,1797,CHIEF_INVESTIGATOR,1960.0,North America,English,2678.0,25.0,1.0,2.0,2.0,7.0,0.0,8.0,4.0,0.0
29,18,2005-11-19,26882,CHIEF_INVESTIGATOR,1950.0,Australia,English,2523.0,25.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10069,6612,2007-12-14,939972,CHIEF_INVESTIGATOR,1965.0,Australia,English,2523.0,25.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
10070,6612,2007-12-14,7862,CHIEF_INVESTIGATOR,1965.0,Australia,English,2523.0,25.0,1.0,2.0,0.0,0.0,4.0,7.0,5.0,8.0
10071,6613,2007-12-14,92362,CHIEF_INVESTIGATOR,1965.0,Western Europe,Other,3048.0,31.0,1.0,1.0,2.0,0.0,12.0,3.0,5.0,7.0
10072,6614,2007-12-14,20497,CHIEF_INVESTIGATOR,1965.0,Middle East and Africa,Other,1258.0,34.0,1.0,2.0,2.0,1.0,0.0,14.0,1.0,1.0
10073,6614,2007-12-14,146827,CHIEF_INVESTIGATOR,1980.0,Australia,English,1258.0,34.0,1.0,1.0,2.0,2.0,0.0,2.0,1.0,0.0
10074,6614,2007-12-14,687442,CHIEF_INVESTIGATOR,1975.0,Australia,English,1258.0,34.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0
10075,6614,2007-12-14,66077,CHIEF_INVESTIGATOR,1960.0,Australia,English,1258.0,34.0,1.0,4.0,0.0,0.0,3.0,37.0,12.0,2.0
10076,6615,2007-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10077,6616,2007-12-14,408232,CHIEF_INVESTIGATOR,1965.0,Australia,English,1428.0,34.0,1.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0
10078,6616,2007-12-14,93072,CHIEF_INVESTIGATOR,1955.0,Australia,English,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10079,6617,2007-12-17,497302,CHIEF_INVESTIGATOR,1965.0,Australia,English,1428.0,34.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,1.0
10080,6618,2007-12-17,7252,CHIEF_INVESTIGATOR,1960.0,Australia,English,1258.0,34.0,NaN,0.0,0.0,2.0,0.0,0.0,2.0,0.0
10081,6619,2007-12-17,67282,CHIEF_INVESTIGATOR,1965.0,Australia,English,2578.0,25.0,1.0,2.0,4.0,4.0,7.0,4.0,5.0,5.0
10082,6619,2007-12-17,98217,CHIEF_INVESTIGATOR,1960.0,Unknown,Unknown,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
10083,6620,2007-12-17,497302,CHIEF_INVESTIGATOR,1965.0,Australia,English,1428.0,34.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,1.0
10084,6621,2007-12-17,93072,CHIEF_INVESTIGATOR,1955.0,Australia,English,NaN,NaN,1.0,1.0,0.0,1.0,7.0,44.0,4.0,7.0
10085,6622,2007-12-18,28797,CHIEF_INVESTIGATOR,1970.0,Australia,English,2768.0,25.0,1.0,1.0,6.0,13.0,0.0,0.0,0.0,1.0
10086,6623,2007-12-18,22292,CHIEF_INVESTIGATOR,1970.0,New Zealand,English,1033.0,1.0,NaN,NaN,0.0,2.0,0.0,10.0,2.0,1.0
10087,6624,2007-12-18,65302,DELEGATED_RESEARCHER,1960.0,Australia,English,1258.0,34.0,NaN,2.0,0.0,1.0,1.0,2.0,9.0,0.0
10088,6625,2007-12-18,28797,CHIEF_INVESTIGATOR,1970.0,Australia,English,2768.0,25.0,1.0,1.0,6.0,13.0,0.0,0.0,0.0,1.0
10089,6626,2007-12-18,69392,CHIEF_INVESTIGATOR,1960.0,Unknown,Unknown,NaN,NaN,NaN,NaN,0.0,0.0,1.0,5.0,5.0,2.0
10090,6627,2007-12-19,939962,CHIEF_INVESTIGATOR,1980.0,Australia,English,2523.0,25.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
10091,6628,2007-12-19,93802,CHIEF_INVESTIGATOR,1970.0,Australia,English,2563.0,25.0,1.0,1.0,0.0,5.0,0.0,0.0,6.0,19.0
10092,6629,2007-12-19,93802,CHIEF_INVESTIGATOR,1970.0,Australia,English,2563.0,25.0,1.0,1.0,0.0,5.0,0.0,0.0,6.0,19.0
10093,6630,2007-12-20,71982,CHIEF_INVESTIGATOR,1960.0,Australia,English,2163.0,19.0,1.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0
10094,6630,2007-12-20,80057,CHIEF_INVESTIGATOR,1950.0,Australia,English,3073.0,31.0,1.0,4.0,0.0,2.0,0.0,0.0,2.0,2.0
10095,6631,2007-12-20,73017,CHIEF_INVESTIGATOR,1960.0,The Americas,Unknown,2103.0,19.0,1.0,4.0,1.0,6.0,5.0,2.0,4.0,6.0
10096,6632,2007-12-21,116727,CHIEF_INVESTIGATOR,1970.0,Unknown,Unknown,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
10097,6632,2007-12-21,26517,DELEGATED_RESEARCHER,1965.0,Unknown,Unknown,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
10098,6633,2007-12-21,74512,CHIEF_INVESTIGATOR,1945.0,Australia,English,528.0,7.0,1.0,2.0,2.0,3.0,2.0,4.0,1.0,0.0

In [99]:
# we generate a dataframe with the uniqe key pairs ( date, person Id).
# this df will be filled and returned as the mod frame
df_out = df_dates.loc[:,['id']].drop_duplicates()


for col_in, fun_dict in feature_dict.items():
    for col_out, fun in fun_dict.items():
        print(col_out)
 
        # we apply the aggregation function to the coloumn
        tmp2 = persons.groupby(['id'])[col_in].agg(fun)
    
        # in case the aggregation function returns a list and not a single element, we take the first one
        # if there were only NaN for this day and persion ID, an empty np array is returned-> we chagne it to a NaN
        tmp2 = tmp2.apply(lambda x : x[0] if (isinstance(x, np.ndarray) and len(x) > 0 ) else \
               (np.nan if (isinstance(x, np.ndarray) and len(x) == 0) else x  ))
    
        # we merge the series with the dataframe that stores all the outcome
        df_out = pd.merge(df_out, tmp2.to_frame(name = col_out).reset_index(),how='left',on = ['id'])

Dept.No.
Faculty.No.
A.
A
C
Number.of.Successful.Grant
Country.of.Birth
Home.Language
Number.of.Unsuccessful.Grant
max_year_of_birth
mean_year_of_birth
mean_years_in_uni
max_years_in_uni
n_internals
With.PHD
B

In [100]:
df_out

,id,Dept.No.,Faculty.No.,A.,A,C,Number.of.Successful.Grant,Country.of.Birth,Home.Language,Number.of.Unsuccessful.Grant,max_year_of_birth,mean_year_of_birth,mean_years_in_uni,max_years_in_uni,n_internals,With.PHD,B
0,1,3073.0,31.0,4.0,2.0,0.0,0.0,Asia Pacific,Other,0.0,1965.0,1965.000000,0.000000,0.0,1,NaN,0.0
1,2,2538.0,25.0,6.0,12.0,2.0,0.0,Australia,English,0.0,1960.0,1960.000000,4.000000,4.0,1,1.0,2.0
2,3,2923.0,25.0,7.0,20.0,7.0,0.0,Australia,English,0.0,1955.0,1951.250000,2.500000,4.0,4,2.0,20.0
3,4,2678.0,25.0,0.0,3.0,3.0,0.0,Australia,English,0.0,1975.0,1965.000000,1.500000,2.0,2,2.0,13.0
4,5,2153.0,19.0,3.0,0.0,0.0,0.0,Western Europe,Other,0.0,1965.0,1965.000000,2.000000,2.0,1,1.0,1.0
5,6,2533.0,25.0,7.0,27.0,6.0,2.0,Australia,English,0.0,1950.0,1950.000000,1.000000,1.0,1,1.0,27.0
6,7,3028.0,31.0,9.0,15.0,5.0,0.0,Australia,English,1.0,1960.0,1956.666667,2.000000,3.0,3,2.0,20.0
7,8,2563.0,25.0,0.0,0.0,0.0,0.0,Australia,English,3.0,1965.0,1952.500000,0.000000,0.0,2,NaN,0.0
8,9,3123.0,31.0,14.0,1.0,0.0,2.0,Australia,English,1.0,1950.0,1947.500000,2.000000,2.0,2,2.0,16.0
9,10,NaN,NaN,1.0,0.0,0.0,0.0,Unknown,Unknown,0.0,1930.0,1930.000000,NaN,NaN,1,NaN,0.0
10,11,3098.0,31.0,2.0,4.0,0.0,1.0,Australia,English,0.0,1965.0,1957.500000,2.500000,4.0,2,2.0,0.0
11,12,2678.0,25.0,0.0,8.0,0.0,2.0,North America,English,7.0,1960.0,1960.000000,2.000000,2.0,1,1.0,4.0
12,13,2713.0,25.0,4.0,3.0,1.0,1.0,Great Britain,English,1.0,1960.0,1960.000000,0.000000,0.0,1,NaN,2.0
13,14,1998.0,19.0,3.0,4.0,0.0,0.0,Australia,English,1.0,1970.0,1965.000000,0.000000,0.0,2,NaN,2.0
14,15,1998.0,19.0,13.0,26.0,6.0,3.0,Australia,English,5.0,1960.0,1956.666667,3.333333,4.0,3,3.0,9.0
15,16,2883.0,25.0,0.0,0.0,2.0,1.0,Australia,English,1.0,1965.0,1965.000000,1.000000,1.0,1,1.0,2.0
16,17,2678.0,25.0,0.0,8.0,0.0,2.0,North America,English,7.0,1960.0,1960.000000,2.000000,2.0,1,1.0,4.0
17,18,2523.0,25.0,0.0,2.0,2.0,1.0,Australia,English,0.0,1950.0,1950.000000,1.000000,1.0,1,1.0,1.0
18,19,1258.0,34.0,22.0,19.0,47.0,2.0,Australia,English,0.0,1960.0,1955.000000,3.500000,4.0,2,2.0,19.0
19,20,2558.0,25.0,0.0,0.0,0.0,0.0,Unknown,Unknown,1.0,1975.0,1975.000000,NaN,NaN,1,NaN,0.0
20,21,2713.0,25.0,1.0,1.0,0.0,1.0,Australia,English,1.0,1965.0,1965.000000,2.000000,2.0,1,1.0,2.0
21,22,1038.0,1.0,0.0,0.0,0.0,1.0,Australia,English,1.0,1960.0,1960.000000,NaN,NaN,1,NaN,0.0
22,23,2538.0,25.0,6.0,12.0,2.0,3.0,Australia,English,3.0,1960.0,1955.000000,4.000000,4.0,2,1.0,2.0
23,24,2053.0,19.0,1.0,3.0,1.0,1.0,Australia,English,0.0,1970.0,1960.000000,1.000000,2.0,2,2.0,4.0
24,25,2553.0,25.0,12.0,14.0,9.0,1.0,Australia,English,1.0,1960.0,1957.500000,2.000000,4.0,2,1.0,7.0
25,26,2653.0,25.0,0.0,0.0,0.0,1.0,Australia,English,4.0,1955.0,1955.000000,1.000000,1.0,1,NaN,0.0
26,27,2653.0,25.0,4.0,3.0,0.0,1.0,Australia,English,5.0,1950.0,1950.000000,2.000000,2.0,1,NaN,1.0
27,28,2578.0,25.0,0.0,2.0,0.0,0.0,Australia,English,1.0,1965.0,1965.000000,2.000000,2.0,1,1.0,2.0
28,29,2678.0,25.0,0.0,8.0,0.0,2.0,North America,English,7.0,1960.0,1960.000000,2.000000,2.0,1,1.0,4.0
29,30,1623.0,13.0,4.0,8.0,2.0,3.0,Unknown,English,0.0,1960.0,1957.500000,2.000000,2.0,4,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6603,6604,2713.0,25.0,8.0,11.0,7.0,3.0,Great Britain,English,4.0,1960.0,1960.000000,3.000000,3.0,1,1.0,9.0
6604,6605,3268.0,31.0,1.0,5.0,0.0,1.0,Australia,English,1.0,1950.0,1950.000000,1.000000,1.0,1,1.0,5.0
6605,6606,3028.0,31.0,0.0,2.0,0.0,3.0,Australia,English,1.0,1975.0,1975.000000,1.000000,1.0,1,1.0,2.0
6606,6607,2763.0,25.0,16.0,19.0,1.0,3.0,Great Britain,English,7.0,1960.0,1960.000000,2.000000,2.0,1,1.0,8.0
6607,6608,528.0,7.0,2.0,7.0,1.0,1.0,Australia,English,1.0,1960.0,1960.000000,1.000000,1.0,1,1.0,5.0
6608,6609,3258.0,31.0,4.0,5.0,2.0,5.0,Australia,English,2.0,1945.0,1945.000000,4.000000,4.0,1,1.0,6.0
6609,6610,2653.0,25.0,4.0,3.0,1.0,3.0,Great Britain,English,2.0,1970.0,1970.000000,1.000000,1.0,1,1.0,1.0
6610,6611,2543.0,25.0,28.0,35.0,6.0,5.0,Australia,English,8.0,1960.0,1952.500000,2.000000,2.0,2,2.0,12.0
6611,6612,2523.0,25.0,4.0,8.0,9.0,0.0,Australia,English,0.0,1965.0,1965.000000,1.500000,2.0,2,2.0,6.0
6612,6613,3048.0,31.0,12.0,3.0,7.0,2.0,Western Europe,Other,0.0,1965.0,1965.000000,1.000000,1.0,1,1.0,5.0
6613,6614,1258.0,34.0,3.0,53.0,3.0,4.0,Australia,English,5.0,1980.0,1970.000000,2.000000,4.0,4,4.0,14.0
6614,6615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
6615,6616,1428.0,34.0,0.0,0.0,0.0,1.0,Australia,English,4.0,1965.0,1960.000000,1.000000,1.0,2,2.0,0.0
6616,6617,1428.0,34.0,0.0,0.0,1.0,2.0,Australia,English,2.0,1965.0,1965.000000,1.000000,1.0,1,1.0,0.0
6617,6618,1258.0,34.0,0.0,0.0,0.0,0.0,Australia,English,2.0,1960.0,1960.000000,0.000000,0.0,1,NaN,2.0
6618,6619,2578.0,25.0,7.0,4.0,5.0,4.0,Australia,English,4.0,1965.0,1962.500000,2.000000,2.0,2,1.0,5.0
6619,6620,1428.0,34.0,0.0,0.0,1.0,2.0,Australia,English,2.0,1965.0,1965.000000,1.000000,1.0,1,1.0,0.0
6620,6621,NaN,NaN,7.0,44.0,7.0,0.0,Australia,English,1.0,1955.0,1955.000000,1.000000,1.0,1,1.0,4.0
6621,6622,2768.0,25.0,0.0,0.0,1.0,6.0,Australia,English,13.0,1970.0,1970.000000,1.000000,1.0,1,1.0,0.0
6622,6623,1033.0,1.0,0.0,10.0,1.0,0.0,New Zealand,English,2.0,1970.0,1970.000000,NaN,NaN,1,NaN,2.0
6623,6624,1258.0,34.0,1.0,2.0,0.0,0.0,Australia,English,1.0,1960.0,1960.000000,2.000000,2.0,1,NaN,9.0
6624,6625,2768.0,25.0,0.0,0.0,1.0,6.0,Australia,English,13.0,1970.0,1970.000000,1.000000,1.0,1,1.0,0.0
6625,6626,NaN,NaN,1.0,5.0,2.0,0.0,Unknown,Unknown,0.0,1960.0,1960.000000,NaN,NaN,1,NaN,5.0
6626,6627,2523.0,25.0,0.0,0.0,0.0,1.0,Australia,English,0.0,1980.0,1980.000000,1.000000,1.0,1,1.0,0.0
6627,6628,2563.0,25.0,0.0,0.0,19.0,0.0,Australia,English,5.0,1970.0,1970.000000,1.000000,1.0,1,1.0,6.0
6628,6629,2563.0,25.0,0.0,0.0,19.0,0.0,Australia,English,5.0,1970.0,1970.000000,1.000000,1.0,1,1.0,6.0
6629,6630,2163.0,19.0,0.0,0.0,2.0,0.0,Australia,English,4.0,1960.0,1955.000000,3.000000,4.0,2,2.0,2.0
6630,6631,2103.0,19.0,5.0,2.0,6.0,1.0,The Americas,Unknown,6.0,1960.0,1960.000000,4.000000,4.0,1,1.0,4.0
6631,6632,NaN,NaN,0.0,0.0,0.0,0.0,Unknown,Unknown,0.0,1970.0,1967.500000,NaN,NaN,2,NaN,0.0
6632,6633,528.0,7.0,2.0,4.0,0.0,2.0,Australia,English,3.0,1945.0,1945.000000,2.000000,2.0,1,1.0,1.0

In [51]:
df_rol_raw.loc[:,['id', 'Person.ID']].drop_duplicates().shape

(9735, 2)

In [19]:
persons = pd.concat( [df.iloc[:,0],  df.loc[:,'Person.ID.1':'C.15']], axis = 1)

In [153]:
persons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6633 entries, 0 to 6632
Columns: 226 entries, id to C.15
dtypes: float64(159), int64(1), object(66)
memory usage: 11.4+ MB

In [20]:
persons.head()

,id,Person.ID.1,Role.1,Year.of.Birth.1,Country.of.Birth.1,Home.Language.1,Dept.No..1,Faculty.No..1,With.PHD.1,No..of.Years.in.Uni.at.Time.of.Grant.1,...,Dept.No..15,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15
0,1,40572.0,CHIEF_INVESTIGATOR,1965.0,Asia Pacific,Other,3073.0,31.0,NaN,Less than 0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,9067.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,2538.0,25.0,Yes,more than 15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5967.0,CHIEF_INVESTIGATOR,1955.0,Australia,NaN,2923.0,25.0,Yes,>5 to 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,78782.0,PRINCIPAL_SUPERVISOR,1955.0,Australia,NaN,2678.0,25.0,Yes,>5 to 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,13042.0,CHIEF_INVESTIGATOR,1965.0,Western Europe,NaN,2153.0,19.0,Yes,>5 to 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#we flatten the persons subtable
#all columns with persons informatin is repeated 15 times
n_persons = 15

#this gives us the following number of coloumns per person (also 15):
n_persons_cols = (len(persons.columns) - 1) // n_persons

#we generate a list the with ID and the field names
col_names = [persons.columns[0]]
[col_names.append(i[:-2]) for i in persons.columns[1:n_persons_cols+1]]

# and use this list to make an empty dataframe
df_p = pd.DataFrame(columns = col_names)

#we loop over all persons 1..15 and take the respective fields (ie columns) and append them
for i in range(n_persons):
    #coloumn index for first coloumn of person i
    k = 1 + (i*n_persons_cols)
    #coloumn index for last coloumn of person i
    l = 1 + ((i+1)*n_persons_cols)
    #get a temp table with the desired info
    tmp = pd.concat( [persons.iloc[:,0],  persons.iloc[:,k:l]], axis = 1)
    #rename the table to make the UNION ALL opertion work
    tmp.columns = df_p.columns
    df_p = pd.concat([df_p, tmp],axis = 0)

In [22]:
# remove lines with person ID AND Role empty
df_p = df_p.loc[~(df_p.loc[:,'Person.ID'].isnull() & df_p.loc[:,'Role'].isnull()),:]

In [23]:
df_p.head()

,id,Person.ID,Role,Year.of.Birth,Country.of.Birth,Home.Language,Dept.No.,Faculty.No.,With.PHD,No..of.Years.in.Uni.at.Time.of.Grant,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
0,1,40572.0,CHIEF_INVESTIGATOR,1965.0,Asia Pacific,Other,3073.0,31.0,NaN,Less than 0,0.0,0.0,4.0,2.0,0.0,0.0
1,2,9067.0,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,2538.0,25.0,Yes,more than 15,0.0,0.0,6.0,12.0,2.0,2.0
2,3,5967.0,CHIEF_INVESTIGATOR,1955.0,Australia,NaN,2923.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,5.0,2.0
3,4,78782.0,PRINCIPAL_SUPERVISOR,1955.0,Australia,NaN,2678.0,25.0,Yes,>5 to 10,0.0,0.0,0.0,3.0,13.0,3.0
4,5,13042.0,CHIEF_INVESTIGATOR,1965.0,Western Europe,NaN,2153.0,19.0,Yes,>5 to 10,0.0,0.0,3.0,0.0,1.0,0.0

In [24]:
# we create a new table called externals with the  columns grant_application_id and has_[external role]
# external roles are stored as person without ID, therefore the following command identifies them:
# df_p.loc[df_p.loc[:,'Person.ID'].isnull(),'Role'].unique()
# of course they can also be identifed by name (ie external advisor..)
# it might be possilbe that a different role has a missing person ID filed in the testing date,
# therefore we hardcode it: EXT_CHIEF_INVESTIGATOR', 'STUD_CHIEF_INVESTIGATOR', 'STUDRES', 'EXTERNAL_ADVISOR'
ext_list = ['EXT_CHIEF_INVESTIGATOR', 'STUD_CHIEF_INVESTIGATOR', 'STUDRES', 'EXTERNAL_ADVISOR']
mask = df_p.Role.isin(ext_list)
df_ext = df_p.loc[mask,:]
#we only want to keep the grant application id and the role
df_ext = df_ext.loc[:,['id','Role']]

df_p = df_p.loc[~mask,:]

In [25]:
# next step is to pivot the table so that we have one line per grant applications ID
df_ext['dummy'] = 1
df_ext = df_ext.pivot_table(index ='id', columns='Role', values = 'dummy', aggfunc=np.sum )

# we restore the column ID by restting the index
df_ext = df_ext.reset_index()

In [161]:
# we write the externals table to a csv file
df_ext.to_csv( '../data/'+ input_type + '_externals_raw.csv',index = False)

In [26]:
# this should be 0
df_p.loc[:,'Person.ID'].isnull().sum()

0

In [27]:
# we can now continue with the person table
# we make all categorial variables to strings
# numerics are first converted to integers, otherwise we will have .0 at the end
df_p[['Person.ID']] = df_p[['Person.ID']].astype(int).astype(str)
df_p[['Dept.No.','Faculty.No.']] = df_p[['Dept.No.','Faculty.No.']].astype(str)

In [28]:
# next columns to work on is the years spend in the uni
# we rename the column
df_p = df_p.rename(columns={'No..of.Years.in.Uni.at.Time.of.Grant': 'years_in_uni'})
# we use a dict to remap the values
dict_years_in_uni = {'Less than 0': 0.,
'>=0 to 5': 1.,
'>5 to 10': 2.,
'>10 to 15': 3.,
'more than 15': 4.}
df_p = df_p.replace({'years_in_uni' : dict_years_in_uni})
df_p.tail()

,id,Person.ID,Role,Year.of.Birth,Country.of.Birth,Home.Language,Dept.No.,Faculty.No.,With.PHD,years_in_uni,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
5815,5816,69732,CHIEF_INVESTIGATOR,1950.0,Australia,NaN,2153.0,19.0,Yes,4.0,4.0,1.0,1.0,39.0,2.0,0.0
4126,4127,74722,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,3048.0,31.0,Yes,3.0,1.0,0.0,13.0,5.0,10.0,3.0
4283,4284,74722,CHIEF_INVESTIGATOR,1960.0,Australia,NaN,3048.0,31.0,Yes,3.0,1.0,0.0,18.0,6.0,11.0,3.0
4126,4127,79977,CHIEF_INVESTIGATOR,1935.0,Australia,NaN,3048.0,31.0,NaN,4.0,1.0,0.0,10.0,3.0,2.0,NaN
4283,4284,79977,CHIEF_INVESTIGATOR,1935.0,Australia,NaN,3048.0,31.0,NaN,4.0,1.0,0.0,13.0,3.0,2.0,NaN

In [29]:
# we split it in two dataframes: static and dynamic
static_columns = ['Person.ID','Year.of.Birth','Country.of.Birth','Home.Language']
df_p_static = df_p.loc[:,static_columns]
df_p_static.to_csv(  '../data/'+ input_type + '_person_static_raw.csv',index = False)

In [30]:
# in the dynamic df comes ecervything that is not in the static + the key
df_p_dyn = df_p.loc[:,( (~(df_p.columns.isin(static_columns))) | df_p.columns.isin(['id','Person.ID']))]
# we only remove the Role, since we will have a seperate table for this
df_p_dyn = df_p_dyn.loc[:,~df_p_dyn.columns.isin(['Role']) ]

#df_p_before_join = df_p_dyn.loc[:,'id'].size

df_p_dyn  = pd.merge( df.loc[:,['id','date']], df_p_dyn, on = 'id')
#print(df_p_dyn.loc[:,'id'].size == df_p_before_join)

df_p_dyn = df_p_dyn.loc[:,~df_p_dyn.columns.isin(['id']) ]

df_p_dyn.to_csv(  '../data/'+ input_type + '_person_dyn_raw.csv',index = False)

In [31]:
#we extract the roles
roles = df_p.loc[:,['id','Person.ID','Roles']]

In [32]:
roles.to_csv(  '../data/'+ input_type + '_roles_raw.csv',index = False)

In [13]:
df_p_dyn.loc[df_p_dyn.loc[:,'Dept.No.'] == 'nan',:] = np.nan
df_p_dyn.loc[df_p_dyn.loc[:,'Dept.No.'] == 'nan',:]

,date,Person.ID,Dept.No.,Faculty.No.,With.PHD,No..of.Years.in.Uni.at.Time.of.Grant,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
17,19/11/05,89462,nan,nan,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0
45,19/11/05,3067,nan,nan,NaN,NaN,0.0,0.0,3.0,3.0,1.0,0.0
46,19/11/05,51027,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
56,19/11/05,537,nan,25.0,Yes,>10 to 15,2.0,0.0,9.0,9.0,13.0,2.0
71,19/11/05,78817,nan,25.0,Yes,more than 15,2.0,0.0,4.0,8.0,6.0,2.0
88,19/11/05,65227,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
90,19/11/05,46237,nan,nan,NaN,NaN,0.0,0.0,0.0,1.0,2.0,1.0
98,19/11/05,41202,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
164,19/11/05,17512,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
178,19/11/05,64782,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
181,19/11/05,57672,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
203,19/11/05,68512,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
207,19/11/05,16332,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,2.0,0.0
216,19/11/05,624752,nan,nan,NaN,NaN,0.0,1.0,1.0,1.0,1.0,0.0
218,19/11/05,46237,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
250,19/11/05,95772,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0
256,19/11/05,127112,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
259,19/11/05,65652,nan,25.0,NaN,>10 to 15,0.0,0.0,13.0,2.0,0.0,1.0
280,19/11/05,141572,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
286,19/11/05,67932,nan,nan,NaN,NaN,0.0,0.0,6.0,10.0,7.0,6.0
295,19/11/05,17877,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
298,19/11/05,15287,nan,25.0,Yes,>=0 to 5,1.0,1.0,1.0,7.0,4.0,0.0
312,19/11/05,99617,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
336,19/11/05,65657,nan,nan,NaN,NaN,0.0,0.0,2.0,0.0,2.0,0.0
342,19/11/05,80817,nan,nan,NaN,NaN,0.0,0.0,2.0,0.0,1.0,0.0
347,19/11/05,22707,nan,nan,NaN,NaN,0.0,0.0,1.0,4.0,1.0,3.0
350,19/11/05,79477,nan,nan,NaN,NaN,0.0,0.0,3.0,3.0,2.0,0.0
353,19/11/05,70827,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
365,19/11/05,9402,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,7.0,3.0
418,19/11/05,12542,nan,nan,NaN,NaN,0.0,0.0,0.0,2.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9246,22/09/07,4102,nan,25.0,Yes,more than 15,0.0,4.0,8.0,14.0,9.0,3.0
9247,24/09/07,65667,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9260,25/09/07,69392,nan,nan,NaN,NaN,0.0,0.0,1.0,5.0,5.0,2.0
9263,25/09/07,69392,nan,nan,NaN,NaN,0.0,0.0,1.0,5.0,5.0,2.0
9274,28/09/07,69392,nan,nan,NaN,NaN,0.0,0.0,1.0,5.0,5.0,2.0
9275,28/09/07,120892,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9346,3/10/07,88557,nan,nan,NaN,NaN,2.0,2.0,0.0,1.0,1.0,0.0
9347,3/10/07,755897,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9349,3/10/07,65667,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9360,5/10/07,72827,nan,nan,NaN,NaN,0.0,0.0,0.0,1.0,6.0,0.0
9364,5/10/07,36252,nan,25.0,Yes,>5 to 10,2.0,20.0,4.0,27.0,13.0,26.0
9405,15/10/07,70362,nan,nan,NaN,NaN,0.0,0.0,0.0,10.0,3.0,1.0
9514,31/10/07,73902,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9522,2/11/07,25612,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9563,9/11/07,66192,nan,25.0,Yes,more than 15,0.0,0.0,1.0,18.0,10.0,6.0
9608,13/11/07,491027,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9621,16/11/07,708537,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9628,23/11/07,70647,nan,nan,NaN,NaN,0.0,0.0,33.0,5.0,4.0,3.0
9632,23/11/07,70647,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9635,23/11/07,70647,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9643,27/11/07,70132,nan,nan,NaN,NaN,0.0,0.0,4.0,4.0,5.0,4.0
9644,27/11/07,17877,nan,nan,NaN,NaN,0.0,0.0,0.0,3.0,4.0,2.0
9682,30/11/07,66077,nan,34.0,Yes,more than 15,0.0,0.0,3.0,37.0,12.0,2.0
9688,1/12/07,34217,nan,nan,NaN,NaN,0.0,0.0,1.0,3.0,0.0,0.0
9720,14/12/07,93072,nan,nan,Yes,>=0 to 5,0.0,0.0,0.0,0.0,0.0,0.0
9724,17/12/07,98217,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9726,17/12/07,93072,nan,nan,Yes,>=0 to 5,0.0,1.0,7.0,44.0,4.0,7.0
9731,18/12/07,69392,nan,nan,NaN,NaN,0.0,0.0,1.0,5.0,5.0,2.0
9738,21/12/07,116727,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9739,21/12/07,26517,nan,nan,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [220]:
df_p_dyn.groupby('Person.ID').size().sort_values()

Person.ID
99877      1
7037       1
30582      1
30612      1
3062       1
30632      1
703262     1
70192      1
30777      1
30827      1
700267     1
700037     1
30987      1
30997      1
704062     1
31012      1
699612     1
31237      1
69952      1
313557     1
699007     1
314067     1
69887      1
314557     1
697842     1
314962     1
31512      1
315512     1
69782      1
69977      1
          ..
71867     20
1757      20
76352     21
66887     21
79032     21
78817     22
9067      22
34737     22
69032     22
734322    23
46132     23
84622     24
28607     24
498427    24
73757     24
16137     25
69812     26
72037     28
82567     28
67647     30
67037     31
12957     32
74162     32
36252     33
17342     33
85862     35
67842     37
85642     39
79192     57
1797      72
Length: 2498, dtype: int64

In [55]:
df_p.loc[df_p.Role == 'STUD_CHIEF_INVESTIGATOR','Person.ID'].unique()

array([ nan])

In [52]:
df_p.loc[ df_p.loc[:,'Person.ID'] == 489582,:]

,id,Person.ID,Role,Year.of.Birth,Country.of.Birth,Home.Language,Dept.No.,Faculty.No.,With.PHD,No..of.Years.in.Uni.at.Time.of.Grant,Number.of.Successful.Grant,Number.of.Unsuccessful.Grant,A.,A,B,C
69,70,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,0.0,1.0,11.0,1.0,2.0,0.0
2427,2428,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,1.0,1.0,12.0,1.0,3.0,1.0
3173,3174,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,12.0,1.0,3.0,1.0
4221,4222,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,13.0,1.0,3.0,1.0
4828,4829,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5493,5494,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
3154,3155,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,1.0,1.0,0.0,0.0,0.0,0.0
3972,3973,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,0.0,0.0,0.0,0.0
6183,6184,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,0.0,0.0,0.0,0.0
5725,5726,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5771,5772,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5773,5774,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
5791,5792,489582.0,CHIEF_INVESTIGATOR,1975.0,Great Britain,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,2.0,13.0,1.0,3.0,1.0
4126,4127,489582.0,CHIEF_INVESTIGATOR,1975.0,NaN,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,12.0,1.0,3.0,1.0
4169,4170,489582.0,STUDRES,1975.0,NaN,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,12.0,1.0,3.0,1.0
4283,4284,489582.0,CHIEF_INVESTIGATOR,1975.0,NaN,NaN,3048.0,31.0,Yes,>=0 to 5,2.0,1.0,13.0,1.0,3.0,1.0

In [141]:
df.date

0       2005-08-11
1       2005-11-11
2       2005-11-14
3       2005-11-15
4       2005-11-16
5       2005-11-19
6       2005-11-19
7       2005-11-19
8       2005-11-19
9       2005-11-19
10      2005-11-19
11      2005-11-19
12      2005-11-19
13      2005-11-19
14      2005-11-19
15      2005-11-19
16      2005-11-19
17      2005-11-19
18      2005-11-19
19      2005-11-19
20      2005-11-19
21      2005-11-19
22      2005-11-19
23      2005-11-19
24      2005-11-19
25      2005-11-19
26      2005-11-19
27      2005-11-19
28      2005-11-19
29      2005-11-19
           ...
6603    2007-10-12
6604    2007-11-12
6605    2007-11-12
6606    2007-12-12
6607    2007-12-12
6608    2007-12-13
6609    2007-12-13
6610    2007-12-13
6611    2007-12-14
6612    2007-12-14
6613    2007-12-14
6614    2007-12-14
6615    2007-12-14
6616    2007-12-17
6617    2007-12-17
6618    2007-12-17
6619    2007-12-17
6620    2007-12-17
6621    2007-12-18
6622    2007-12-18
6623    2007-12-18
6624    2007-12-18
6625    2007-12-18
6626    2007-12-19
6627    2007-12-19
6628    2007-12-19
6629    2007-12-20
6630    2007-12-20
6631    2007-12-21
6632    2007-12-21
Name: date, Length: 6633, dtype: object

In [171]:
df_p.loc[:,'Role'].unique()

array(['CHIEF_INVESTIGATOR', 'PRINCIPAL_SUPERVISOR',
       'DELEGATED_RESEARCHER', 'HONVISIT', nan], dtype=object)

In [29]:
df = pd.read_csv('../data/' + input_type + '_ml.csv', low_memory=False)

In [187]:
df.shape[1]

70

In [6]:
pd.set_option('display.max_columns', None)

In [184]:
def extract(df_train, df_test):

    Y_train = df_train['granted']
    Y_test = df_test['granted']
    X_train = df_train.drop(['granted', 'id'],axis=1)
    X_test = df_test.drop(['granted', 'id'],axis=1)

    return X_train, y_train, X_test, y_test

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout



model = Sequential()
model.add(Dense(64, input_dim=20, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

model.fit(x_train, y_train,
          epochs=20,
          batch_size=128)
score = model.evaluate(x_test, y_test, batch_size=128)