In [108]:
import numpy as np
import pandas as pd
import os.path
import matplotlib.pyplot as plt
%matplotlib inline

In [57]:
base = '../data/'
path = 'train.csv'
df = pd.read_csv(os.path.join(base,path), low_memory=False)

grant_value:
strip
replace by values

In [134]:
def create_apps(df):
    apps = df.iloc[:,:6]
    replace_grant_values(apps)
    save_apps(apps)
    return apps

def replace_grant_values(apps):
    rep = {'A':5000,
          'B':10000,
          'C':20000,
          'D':30000,
          'E':40000,
          'F':50000,
          'G':100000,
          'H':200000,
          'I':300000,
          'J':400000,
          'K':500000,
          'L':600000,
          'M':700000,
          'N':800000,
          'O':900000,
          'P':1000000,
          'Q':10000000}
    apps['grant_value'] = apps['grant_value'].str.strip()
    apps['grant_value'].replace(rep, inplace=True)
    
def save_apps(df,dataset='train'):
    base = '../data/'
    fname = 'apps_'+dataset +'.csv'
    df.to_csv(os.path.join(base,fname),index=False)
    
    
def print_details(ds):
    print('Total size: {}\n# of unique {}\n# of nans {}'.format(
    ds.shape[0],ds.unique().shape[0],ds.isnull().sum()))

In [135]:
apps = create_apps(df)

In [68]:
apps.head()

   id  granted sponsor grant_category  grant_value        date
0   1        1     NaN            NaN       5000.0  2005-08-11
1   2        1      2B            10A      10000.0  2005-11-11
2   3        1     29A            10B       5000.0  2005-11-14
3   4        1     40D            10B      20000.0  2005-11-15
4   5        0     59C            10A       5000.0  2005-11-16

Total size: 6633
# of unique 17
# of nans 2719

5000.0        1867
10000.0        484
20000.0        353
30000.0        367
40000.0        231
50000.0        194
100000.0       295
200000.0        72
300000.0        14
400000.0        19
500000.0         5
600000.0         2
700000.0         1
900000.0         2
1000000.0        2
10000000.0       6
Name: grant_value, dtype: int64

Total size: 6633
# of unique 493
# of nans 0