In [6]:
import numpy as np
import pandas as pd
import os.path
%matplotlib inline

In [8]:
base = '../data/'
path = 'train.csv'
df = pd.read_csv(os.path.join(base,path), low_memory=False)

In [10]:
df.head()

,Unnamed: 0,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,6633,6634,1,75C,10B,A,1/01/08,320899.0,100.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6634,6635,1,34B,30C,A,1/01/08,270208.0,50.0,270899.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6635,6636,1,68D,30B,B,1/01/08,321209.0,75.0,339999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6636,6637,1,4D,20C,A,1/01/08,300501.0,100.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6637,6638,0,89A,30B,A,1/01/08,321028.0,50.0,321016.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN