In [24]:
import numpy as np
import pandas as pd
import os.path
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
base = '../data/'
path = 'train_apps_raw.csv'
apps = pd.read_csv(os.path.join(base,path), low_memory=False)

In [26]:
def print_details(ds):
    print('Total size: {}\n# of unique {}\n# of nans {}'.format(
    ds.shape[0],ds.unique().shape[0],ds.isnull().sum()))

In [55]:
apps.head(50)

,id,granted,sponsor,grant_category,grant_value,date,grant_category_c,grant_category_n
0,1,1,NaN,NaN,5000.0,2005-08-11,NaN,NaN
1,2,1,2B,10A,10000.0,2005-11-11,A,10
2,3,1,29A,10B,5000.0,2005-11-14,B,10
3,4,1,40D,10B,20000.0,2005-11-15,B,10
4,5,0,59C,10A,5000.0,2005-11-16,A,10
5,6,1,4D,10A,NaN,2005-11-19,A,10
6,7,0,2B,10A,NaN,2005-11-19,A,10
7,8,0,28D,30B,5000.0,2005-11-19,B,30
8,9,1,2B,10A,200000.0,2005-11-19,A,10
9,10,1,2B,10A,NaN,2005-11-19,A,10
10,11,1,2B,10A,100000.0,2005-11-19,A,10
11,12,0,136D,30B,NaN,2005-11-19,B,30
12,13,1,4D,10A,NaN,2005-11-19,A,10
13,14,0,NaN,NaN,NaN,2005-11-19,NaN,NaN
14,15,1,2B,10A,NaN,2005-11-19,A,10
15,16,0,100D,10B,NaN,2005-11-19,B,10
16,17,0,1A,10A,NaN,2005-11-19,A,10
17,18,1,21A,50A,NaN,2005-11-19,A,50
18,19,1,2B,10A,50000.0,2005-11-19,A,10
19,20,0,24D,30B,5000.0,2005-11-19,B,30
20,21,1,148D,30B,5000.0,2005-11-19,B,30
21,22,0,12D,30B,NaN,2005-11-19,B,30
22,23,0,62B,10B,NaN,2005-11-19,B,10
23,24,1,2B,10A,30000.0,2005-11-19,A,10
24,25,1,138B,30B,NaN,2005-11-19,B,30
25,26,0,NaN,NaN,5000.0,2005-11-19,NaN,NaN
26,27,0,NaN,NaN,20000.0,2005-11-19,NaN,NaN
27,28,0,NaN,NaN,NaN,2005-11-19,NaN,NaN
28,29,0,60D,30D,NaN,2005-11-19,D,30
29,30,1,2B,10A,10000.0,2005-11-19,A,10
30,31,0,143C,30B,NaN,2005-11-19,B,30
31,32,0,60D,30D,200000.0,2005-11-19,D,30
32,33,1,4D,10A,NaN,2005-11-19,A,10
33,34,0,24D,30B,5000.0,2005-11-19,B,30
34,35,1,2B,10A,NaN,2005-11-19,A,10
35,36,0,148D,30B,5000.0,2005-11-19,B,30
36,37,0,NaN,NaN,5000.0,2005-11-19,NaN,NaN
37,38,0,90B,30G,NaN,2005-11-19,G,30
38,39,0,2B,10A,100000.0,2005-11-19,A,10
39,40,0,NaN,NaN,10000.0,2005-11-19,NaN,NaN
40,41,0,18B,20C,NaN,2005-11-19,C,20
41,42,0,4D,10A,NaN,2005-11-19,A,10
42,43,1,29A,10B,5000.0,2005-11-19,B,10
43,44,1,136D,30B,NaN,2005-11-19,B,30
44,45,0,89A,30B,NaN,2005-11-19,B,30
45,46,0,NaN,NaN,5000.0,2005-11-19,NaN,NaN
46,47,1,2B,10A,40000.0,2005-11-19,A,10
47,48,0,40D,10B,NaN,2005-11-19,B,10
48,49,0,34B,30C,5000.0,2005-11-19,C,30
49,50,1,2B,10A,NaN,2005-11-19,A,10

In [27]:
print_details(apps['sponsor'])

Total size: 6633
# of unique 246
# of nans 832

In [30]:
apps['sponsor'].unique()
#undifined

array([nan, '2B', '29A', '40D', '59C', '4D', '28D', '136D', '100D', '1A',
       '21A', '24D', '148D', '12D', '62B', '138B', '60D', '143C', '90B',
       '18B', '89A', '34B', '47C', '36D', '32D', '172D', '184D', '5A',
       '63C', '74B', '6B', '170B', '166B', '101A', '33A', '164D', '75C',
       '161A', '157A', '9A', '126B', '149A', '53A', '94B', '97A', '160D',
       '51C', '167C', '135C', '65A', '42B', '87C', '169A', '95C', '103C',
       '147C', '133A', '150B', '155C', '174B', '83C', '175C', '139C',
       '202B', '13A', '168D', '113A', '134B', '20D', '141A', '80D', '91C',
       '187C', '26B', '162B', '93A', '84D', '158B', '55C', '77A', '429A',
       '140D', '23C', '142B', '112D', '111C', '154B', '185A', '151C', '3C',
       '428D', '137A', '37A', '146B', '176D', '145A', '85A', '14B', '69A',
       '41A', '427C', '49A', '7C', '44D', '163C', '144D', '177A', '39C',
       '153A', '173A', '159C', '178B', '156D', '186B', '152D', '171C',
       '201A', '182B', '183C', '52D', '132D', '219C', '227C', '56D', '73A',
       '107C', '224D', '188D', '229A', '230B', '210B', '430B', '86B',
       '179C', '234B', '198B', '305A', '199C', '200D', '191C', '238B',
       '222B', '223C', '54B', '196D', '216D', '120D', '190B', '189A',
       '214B', '215C', '237A', '233A', '38B', '82B', '66B', '194B', '225A',
       '212D', '208D', '180D', '68D', '211C', '203C', '192D', '228D',
       '205A', '213A', '130B', '48D', '206B', '207C', '72D', '27C', '251C',
       '204D', '193A', '195C', '239C', '67C', '217A', '218B', '226B',
       '431C', '232D', '197A', '165A', '247C', '220D', '221A', '245A',
       '282B', '11C', '250B', '252D', '292D', '235C', '105A', '242B',
       '240D', '243C', '15C', '244D', '246B', '278B', '241A', '270B',
       '277A', '275C', '295C', '372D', '284D', '258B', '297A', '256D',
       '255C', '289A', '286B', '280D', '253A', '276D', '128D', '433A',
       '81A', '298B', '78B', '435C', '285A', '339C', '288D', '294B',
       '325A', '300D', '287C', '296D', '266B', '265A', '268D', '302B',
       '257A', '263C', '269A', '434B', '16D', '432D', '279C'], dtype=object)

In [19]:
print_details(apps['grant_category'])

Total size: 6633
# of unique 14
# of nans 832

In [32]:
apps['grant_category'].unique()
#undifined

array([nan, '10A', '10B', '30B', '50A', '30D', '30G', '20C', '30C', '20A',
       '30E', '40C', '30A', '30F'], dtype=object)

In [20]:
print_details(apps['grant_value'])

Total size: 6633
# of unique 17
# of nans 2719

In [21]:
apps['grant_value'].value_counts().sort_index()
#catagory correlated

5000.0        1867
10000.0        484
20000.0        353
30000.0        367
40000.0        231
50000.0        194
100000.0       295
200000.0        72
300000.0        14
400000.0        19
500000.0         5
600000.0         2
700000.0         1
900000.0         2
1000000.0        2
10000000.0       6
Name: grant_value, dtype: int64

In [15]:
print_details(apps['date'])

Total size: 6633
# of unique 493
# of nans 0

In [56]:
apps['sponsor_c']= apps['sponsor'].str.extract('([A-Z])')
apps['sponsor_n'] = apps['sponsor'].str.extract('(\d+)')

/home/gelo/software/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
/home/gelo/software/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [40]:
apps['grant_category_c']= apps['grant_category'].str.extract('([A-Z])')
apps['grant_category_n'] = apps['grant_category'].str.extract('(\d+)')

/home/gelo/software/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

# Grant Category

In [67]:
#number of occurances
apps['grant_category_c'].value_counts().sort_index()

A    3709
B    1326
C     582
D     122
E      11
F       1
G      50
Name: grant_category_c, dtype: int64

In [68]:
#Mean grant value
apps[['grant_category_c','grant_value']].groupby(
    'grant_category_c').agg({'grant_value':np.mean}).round().sort_index()

                  grant_value
grant_category_c
A                     64155.0
B                     12331.0
C                     21174.0
D                     33810.0
E                     10000.0
F                     10000.0
G                     20577.0

In [71]:
#number of occurances
apps['grant_category_n'].value_counts().sort_index()

10    3225
20     445
30    1409
40       6
50     716
Name: grant_category_n, dtype: int64

In [72]:
#Mean grant value
apps[['grant_category_n','grant_value']].groupby(
    'grant_category_n').agg({'grant_value':np.mean}).round().sort_index()

                  grant_value
grant_category_n
10                    75102.0
20                    71656.0
30                    13716.0
40                     6667.0
50                     5087.0

## granted

In [74]:
apps['granted'].sum()

3233

In [81]:
#Mean grant value
foo = apps[['grant_category_c','granted']].groupby(
    'grant_category_c').agg({'granted':np.sum,'grant_category_c':pd.Series.count}).round().sort_index()
foo['per']=(foo['granted']/(foo['grant_category_c'])).round(decimals=2)
foo

                  granted  grant_category_c   per
grant_category_c
A                    1706              3709  0.46
B                     461              1326  0.35
C                     324               582  0.56
D                      40               122  0.33
E                       5                11  0.45
F                       0                 1  0.00
G                       9                50  0.18

In [83]:
#Mean grant value
foo = apps[['grant_category_n','granted']].groupby(
    'grant_category_n').agg({'granted':np.sum,'grant_category_n':pd.Series.count}).round().sort_index()
foo['per']=(foo['granted']/(foo['grant_category_n'])).round(decimals=2)
foo

                  granted  grant_category_n   per
grant_category_n
10                   1359              3225  0.42
20                    227               445  0.51
30                    503              1409  0.36
40                      6                 6  1.00
50                    450               716  0.63

# Sponsors

In [69]:
#number of occurances
apps['sponsor_c'].value_counts().sort_index()

A    1349
B    1844
C     464
D    2144
Name: sponsor_c, dtype: int64

In [73]:
#Mean grant value
apps[['sponsor_c','grant_value']].groupby(
    'sponsor_c').agg({'grant_value':np.mean}).round().sort_index()

           grant_value
sponsor_c
A               8388.0
B              44927.0
C              25579.0
D              82807.0

In [82]:
#Mean grant value
foo = apps[['sponsor_c','granted']].groupby(
    'sponsor_c').agg({'granted':np.sum,'sponsor_c':pd.Series.count}).round().sort_index()
foo['per']=(foo['granted']/(foo['sponsor_c'])).round(decimals=2)
foo

           granted  sponsor_c   per
sponsor_c
A              685       1349  0.51
B              741       1844  0.40
C              251        464  0.54
D              868       2144  0.40