In [51]:
import numpy as np
import pandas as pd
import os.path
%matplotlib inline

In [52]:
base = '../data/'
fdata = 'unimelb_training.csv'
ftest = 'training2_ids.csv'
fhold = 'testing_ids.csv'
df = pd.read_csv(os.path.join(base,fdata), low_memory=False)
id_test = pd.read_csv(os.path.join(base,ftest), low_memory=False)
id_hold = pd.read_csv(os.path.join(base,fhold), low_memory=False)

rename first couple of columns

In [53]:
ren = {'Grant.Application.ID':'id',
       'Grant.Status':'granted',
       'Sponsor.Code':'sponsor',
      'Grant.Category.Code':'grant_category',
       'Contract.Value.Band...see.note.A':'grant_value',
       'Start.date':'date'
      }

In [54]:
df.rename(columns=ren,inplace = True)

In [55]:
test = df.loc[df['id'].isin(id_test.values.flatten()),:]
hold = df.loc[df['id'].isin(id_hold.values.flatten()),:]

## check if any of the hold ids is in the test ids

In [56]:
(id_test.isin(id_hold.values.flatten())).sum()

ids    0
dtype: int64

In [57]:
# create train data
train = df.copy()
drop_ids = np.r_[id_test.values.flatten(),id_hold.values.flatten()]
mask = train['id'].isin(drop_ids)
print(train.shape)
train.drop(
    (train.loc[mask,'id']).index,axis=0,inplace=True)
print(train.shape)

(8708, 252)
(6633, 252)

In [58]:
print('size of test data: {}\nsize of hold data: {}\nsize of train data: {}'.format((test.shape),hold.shape, train.shape))

size of test data: (1557, 252)
size of hold data: (518, 252)
size of train data: (6633, 252)

## Save file:

In [59]:
base = '../data/'
ftrain = 'train.csv'
ftest = 'test.csv'
fhold = 'hold.csv'

train.to_csv(os.path.join(base,ftrain),index=False)
test.to_csv(os.path.join(base,ftest),index=False)
hold.to_csv(os.path.join(base,fhold),index=False)

In [60]:
train.head()

,id,granted,sponsor,grant_category,grant_value,date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
train = pd.read_csv(os.path.join(base,ftrain))

/home/gelo/software/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (120,135,149,150,153,154,164,165,168,169,179,183,184,194,198,199,209,213,214,224,237,239,244) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
train.head()

,id,granted,sponsor,grant_category,grant_value,date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
train.shape

(6633, 252)