In [106]:
import numpy as np
import pandas as pd
import os.path
%matplotlib inline

In [107]:
base = '../data/'
fdata = 'unimelb_training.csv'
ftest = 'training2_ids.csv'
fhold = 'testing_ids.csv'
df = pd.read_csv(os.path.join(base,fdata), low_memory=False)
id_test = pd.read_csv(os.path.join(base,ftest), low_memory=False)
id_hold = pd.read_csv(os.path.join(base,fhold), low_memory=False)

In [108]:
df['Unnamed: 251'].notnull().sum()

0

In [112]:
df.shape

(8708, 251)

There is one empty column at the end

In [113]:
df.drop(['Unnamed: 251'],axis=1,inplace=True)

ValueError: labels ['Unnamed: 251'] not contained in axis

In [114]:
df.head()

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Dept.No..15,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

rename first couple of columns

In [115]:
ren = {'Grant.Application.ID':'id',
       'Grant.Status':'granted',
       'Sponsor.Code':'sponsor',
      'Grant.Category.Code':'grant_category',
       'Contract.Value.Band...see.note.A':'grant_value',
       'Start.date':'date'
      }

In [116]:
df.rename(columns=ren,inplace = True)
# date to datetime

In [119]:
df['date'].to_datetime()

AttributeError: 'Series' object has no attribute 'to_datetime'

In [97]:
test = df.loc[df['id'].isin(id_test.values.flatten()),:]
hold = df.loc[df['id'].isin(id_hold.values.flatten()),:]

## check if any of the hold ids is in the test ids

In [98]:
(id_test.isin(id_hold.values.flatten())).sum()

ids    0
dtype: int64

In [99]:
# create train data
train = df.copy()
drop_ids = np.r_[id_test.values.flatten(),id_hold.values.flatten()]
mask = train['id'].isin(drop_ids)
print(train.shape)
train.drop(
    (train.loc[mask,'id']).index,axis=0,inplace=True)
print(train.shape)

(8708, 251)
(6633, 251)

In [100]:
print('size of test data: {}\nsize of hold data: {}\nsize of train data: {}'.format((test.shape),hold.shape, train.shape))

size of test data: (1557, 251)
size of hold data: (518, 251)
size of train data: (6633, 251)

## Save file:

In [101]:
base = '../data/'
ftrain = 'train.csv'
ftest = 'test.csv'
fhold = 'hold.csv'

train.to_csv(os.path.join(base,ftrain),index=False)
test.to_csv(os.path.join(base,ftest),index=False)
hold.to_csv(os.path.join(base,fhold),index=False)

In [102]:
train.head()

,id,granted,sponsor,grant_category,grant_value,date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Dept.No..15,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
train = pd.read_csv(os.path.join(base,ftrain), low_memory=False)

In [104]:
train

,id,granted,sponsor,grant_category,grant_value,date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Dept.No..15,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,1,4D,10A,NaN,19/11/05,321204.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,0,2B,10A,NaN,19/11/05,270708.0,50.0,270203.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,0,28D,30B,A,19/11/05,321405.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,1,2B,10A,H,19/11/05,260108.0,50.0,260109.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,1,2B,10A,NaN,19/11/05,270708.0,40.0,270704.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,1,2B,10A,G,19/11/05,230111.0,60.0,230112.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,0,136D,30B,NaN,19/11/05,270603.0,20.0,321003.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,1,4D,10A,NaN,19/11/05,320702.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,0,NaN,NaN,NaN,19/11/05,291599.0,51.0,239901.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,1,2B,10A,NaN,19/11/05,280203.0,40.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,0,100D,10B,NaN,19/11/05,321099.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,0,1A,10A,NaN,19/11/05,270603.0,33.0,321026.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,1,21A,50A,NaN,19/11/05,300903.0,33.0,370499.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,1,2B,10A,F,19/11/05,300508.0,40.0,270201.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,0,24D,30B,A,19/11/05,380103.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,1,148D,30B,A,19/11/05,270103.0,20.0,270106.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,0,12D,30B,NaN,19/11/05,370107.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,0,62B,10B,NaN,19/11/05,321021.0,40.0,321204.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,1,2B,10A,D,19/11/05,291801.0,60.0,291804.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,1,138B,30B,NaN,19/11/05,330305.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,0,NaN,NaN,A,19/11/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,0,NaN,NaN,C,19/11/05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,0,NaN,NaN,NaN,19/11/05,270299.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,0,60D,30D,NaN,19/11/05,270603.0,50.0,321004.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,1,2B,10A,B,19/11/05,350201.0,60.0,380108.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6603,6604,1,205A,30B,A,10/12/07,321003.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6604,6605,0,126B,10A,B,11/12/07,270704.0,25.0,270504.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6605,6606,1,432D,10A,A,11/12/07,270401.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6606,6607,1,279C,30G,G,12/12/07,320405.0,40.0,321014.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6607,6608,1,21A,50A,A,12/12/07,410302.0,40.0,370107.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6608,6609,1,47C,10B,A,13/12/07,320799.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6609,6610,1,NaN,NaN,A,13/12/07,320403.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6610,6611,1,279C,30G,G,13/12/07,321026.0,10.0,320405.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6611,6612,1,4D,20C,A,14/12/07,321207.0,50.0,321210.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6612,6613,1,135C,30G,A,14/12/07,250399.0,80.0,250699.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6613,6614,0,7C,10A,E,14/12/07,300405.0,50.0,300510.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6614,6615,1,4D,10A,B,14/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6615,6616,0,7C,10A,A,14/12/07,300501.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6616,6617,0,7C,10A,NaN,17/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6617,6618,0,7C,10A,NaN,17/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6618,6619,1,81A,30B,A,17/12/07,321016.0,60.0,320705.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6619,6620,0,7C,10A,NaN,17/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6620,6621,0,7C,10A,NaN,17/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6621,6622,0,62B,30B,C,18/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6622,6623,1,NaN,NaN,A,18/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6623,6624,0,7C,10A,NaN,18/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6624,6625,0,62B,30B,C,18/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6625,6626,1,73A,30B,A,18/12/07,270708.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6626,6627,1,34B,30C,B,19/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6627,6628,1,34B,30C,A,19/12/07,321019.0,60.0,321024.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6628,6629,1,5A,30B,A,19/12/07,321024.0,60.0,321017.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6629,6630,1,NaN,NaN,B,20/12/07,280213.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6630,6631,1,223C,20C,D,20/12/07,290899.0,50.0,291899.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6631,6632,1,NaN,NaN,E,21/12/07,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6632,6633,1,5A,30B,A,21/12/07,419901.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
train.shape

(6633, 251)