In [1]:
import numpy as np
import pandas as pd
import os.path
%matplotlib inline

In [5]:
base = '../data/'
fdata = 'unimelb_training.csv'
ftest = 'training2_ids.csv'
fhold = 'testing_ids.csv'
df = pd.read_csv(os.path.join(base,fdata), low_memory=False)
id_test = pd.read_csv(os.path.join(base,ftest), low_memory=False)
id_hold = pd.read_csv(os.path.join(base,fhold), low_memory=False)

In [6]:
df.head()

,Grant.Application.ID,Grant.Status,Sponsor.Code,Grant.Category.Code,Contract.Value.Band...see.note.A,Start.date,RFCD.Code.1,RFCD.Percentage.1,RFCD.Code.2,RFCD.Percentage.2,...,Faculty.No..15,With.PHD.15,No..of.Years.in.Uni.at.Time.of.Grant.15,Number.of.Successful.Grant.15,Number.of.Unsuccessful.Grant.15,A..15,A.15,B.15,C.15,Unnamed: 251
0,1,1,NaN,NaN,A,8/11/05,280199.0,100.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2B,10A,B,11/11/05,280103.0,30.0,280106.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,29A,10B,A,14/11/05,321004.0,60.0,321216.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,40D,10B,C,15/11/05,270602.0,50.0,320602.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,59C,10A,A,16/11/05,260500.0,34.0,280000.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
id_hold.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 1 columns):
ids    518 non-null int64
dtypes: int64(1)
memory usage: 4.1 KB

In [10]:
id_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557 entries, 0 to 1556
Data columns (total 1 columns):
ids    1557 non-null int64
dtypes: int64(1)
memory usage: 12.2 KB

In [30]:
test = df.loc[df['Grant.Application.ID'].isin(id_test.values.flatten()),:]
hold = df.loc[df['Grant.Application.ID'].isin(id_hold.values.flatten()),:]

## check if any of the hold ids is in the test ids

In [36]:
(id_test.isin(id_hold.values.flatten())).sum()

ids    0
dtype: int64

In [89]:
# create train data
train = df.copy()
drop_ids = np.r_[id_test.values.flatten(),id_hold.values.flatten()]
print(train.shape)
train.drop(
    train['Grant.Application.ID'].isin(drop_ids),axis=0).shape
# print(train.shape)

(8708, 252)

(8706, 252)

In [73]:
print('size of test data: {}\nsize of hold data: {}\nsize of train data: {}'.format((test.shape),hold.shape, train.shape))

size of test data: (1557, 252)
size of hold data: (518, 252)
size of train data: (8706, 252)

In [82]:
train.drop(
    train['Grant.Application.ID'].isin(drop_ids),axis=1,inplace=True)

ValueError: labels [False False False ...,  True  True  True] not contained in axis

In [58]:
drop_ids = np.r_[id_test.values.flatten(),id_hold.values.flatten()]

In [59]:
drop_ids.shape

(2075,)

In [81]:

train['Grant.Application.ID'].isin(drop_ids)

2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
30      False
31      False
        ...
8678     True
8679     True
8680     True
8681     True
8682     True
8683     True
8684     True
8685     True
8686     True
8687     True
8688     True
8689     True
8690     True
8691     True
8692     True
8693     True
8694     True
8695     True
8696     True
8697     True
8698     True
8699     True
8700     True
8701     True
8702     True
8703     True
8704     True
8705     True
8706     True
8707     True
Name: Grant.Application.ID, Length: 8706, dtype: bool